<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <directoryBrowse enabled="true" />
    <rewrite>
      <rules>
        <clear />   
        <rule name="ReactJS" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>  
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404/" responseMode="ExecuteURL" />
        </httpErrors>
        <staticContent>
              <remove fileExtension=".eot" />
              <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
              <remove fileExtension=".woff" />
              <remove fileExtension=".woff2" />
              <remove fileExtension=".ogv" />
              <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
              <remove fileExtension=".webm" />
              <mimeMap fileExtension=".webm" mimeType="video/webm" />
              <remove fileExtension=".mp4" />
              <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
              <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
              <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />        
            <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
