<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<directoryBrowse enabled="true" />
<rewrite>
  <rules>
    <clear />   
    <rule name="HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
    </rule>      
    <rule name="ReactJSRedirect" enabled="true" stopProcessing="true">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="(static)" negate="true" />
        <add input="{REQUEST_URI}" pattern="(flags)" negate="true" />
        <add input="{REQUEST_URI}" pattern="(locale)" negate="true" />
        <add input="{REQUEST_URI}" pattern="(fonts)" negate="true" />
      </conditions>
      <action type="Rewrite" url="./index.html" />
    </rule>
  </rules>
  <outboundRules>
      <!-- We only need to disable html and translation caching -->
      <rule name="noCache" preCondition="noCacheContents">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
      </rule>
        <preConditions>
          <preCondition name="noCacheContents" logicalGrouping="MatchAny">
              <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
              <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
          </preCondition>
      </preConditions>
  </outboundRules>  
</rewrite>  
    <httpErrors>
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" prefixLanguageFilePath="" path="/not-found" responseMode="ExecuteURL" />
    </httpErrors>
    <!-- Static content can be cached for a long time, because that content has hash in it so it will be invalidated anyway -->
    <staticContent>
          <remove fileExtension=".eot" />
          <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
          <remove fileExtension=".woff" />
          <remove fileExtension=".woff2" />
          <remove fileExtension=".ogv" />
          <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
          <remove fileExtension=".webm" />
          <mimeMap fileExtension=".webm" mimeType="video/webm" />
          <remove fileExtension=".mp4" />
          <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
          <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
          <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />        
        <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
</system.webServer>
</configuration>