/**
* Title: Gator
* Author/s: Mono
* CSS build platform: Webpack
* Node modules instalation: npm i
* Node version: 10.14.1 or higher
* Project development build command: npm start

* CSS processor: PostCSS
* CSS processor usage: autoprefixing, nesting, variables, minification, pxtorem, color functions
* CSS name convention: BEM

* Global indentation: 4 spaces
* Global units: px
* Global prefix: none

* Browser support: IE9+, last 3 versions of modern browsers, Android 4+, iOS6+
*/

/**
* Vars .......... postcss-simple-vars plugin for defining variables to use accross the project 
*/
@import "vars.globals.css";
@import "vars.typography.css";
@import "vars.responsive.css";
@import "vars.colors.css";
@import "vars.shadows.css";

/**
* Tools .......... typography mixin, floted grid and clearfix
*/
@import 'tool.typomatic.css';
/* @import 'tool.bubba.css'; */
@import "tool.ricky.css";
@import "tool.animation.css";

/**
* Generic .......... normalize or reset CSS, box sizing
*/
@import "normalize.css/normalize.css";
@import "generic.boxsizing.css";

/**
* Base .......... base structural stylings for setting the body, typography and other base styles (no classes should be added here)
*/
@import "base.globals.css";
@import "base.typography.css";

/**
* Components .......... resuable components for all projects
*/
@import "component.container.css";
@import "component.table.css";
@import "component.btn.css";
@import "component.layout.css";
@import "component.card.css";
@import "component.nav.css";
@import "component.header.css";
@import 'component.search.css';
@import "component.modal.css";
@import 'component.message.css';
@import 'component.box.css';
@import 'component.badge.css';
@import 'component.tabs.css';
@import 'component.login.css';
@import "component.breadcrumbs.css";
@import "component.inputgroup.css";
@import "component.input.css";
@import "component.form.css";
@import "component.content.css";
@import 'component.flex.css';
@import 'component.scrollbar.css';
@import "component.filter.css";
@import 'component.tags.css';
@import "component.empty-state.css";
@import "component.section.css";
@import "component.counter.css";
@import "component.transaction.css";
@import "component.scanner.css";
@import "component.dashboard-card.css";
@import "component.advanced-search.css";
@import "component.charity-information.css";
@import "component.material-icons.css";
@import "component.scale.css";

/**
* Views .......... specific website/app views (example: 404 view, login view)
*/
@import "view.404.css";

/**
* Utils .......... reusable utilities such as floats, spacers etc.
*/
@import "util.display.css";
@import "util.width.css";
@import "util.floats.css";
@import "util.margins.css";
@import "util.paddings.css";
@import "util.position.css";
@import "util.grid.css";
@import "util.grid-offset.css";
@import "util.clearing.css";
@import "util.type.css";
@import "util.separator.css";
@import "util.icons.css";
@import "util.align.css";
@import "util.anchor.css";
@import "util.radius.css";
@import "util.visibility.css";
@import "util.rotate.css";
@import 'util.loader.css';
@import 'util.height.css';
@import 'util.cursor.css';

/**
* Plugins .......... 3rd party code, external plugin CSS etc
* Note: when importing code from a 3rd party it should be stripped off
* any vendor prefixes since autoprefixer will use project specific vendor prefixes
*/
@import 'plugin.fontface.css';
@import 'plugin.devex.css';
@import 'plugin.ajax-tabs.css';
@import 'plugin.combobox.css';
@import 'plugin.ajax-calendar.css';
@import 'plugin.ajax-fileupload.css';
@import 'plugin.k-datepicker.css';
@import 'plugin.k-grid.css';
@import 'plugin.k-textbox.css';
@import 'plugin.toastify.css';
@import 'plugin.k-timepicker.css';
@import 'plugin.k-numeric.css';
@import 'plugin.k-tooltip.css';
@import 'plugin.k-slider.css';
@import 'plugin.k-inputs.css';
@import 'plugin.k-loader.css';
@import 'plugin.k-calendar.css';
@import 'plugin.k-dateinput.css';
@import 'plugin.k-table.css';
@import 'plugin.k-upload.css';
@import 'plugin.multi-select.css';
@import 'plugin.rbc-calendar.css';

/**
* Shame .......... CSS shame file, to be avoided, exists only if REALLY necessary or legacy code.
*/