/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    @mixin typomatic-init;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    
    font-family: $ff-sans;
    font-size: 14px;
    color: $color-text-dark;

    main {
        overflow-x: auto;
        height: 100vh;
    }
}

.body {
    /*Used on login page*/
    &--secondary {
        height: 100vh;
        
        background-color: $grey-7;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235f6e7a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

select {
    cursor: pointer;
}

svg {
    max-width: 100%;
}