/*------------------------------------*\
    # base.typography
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: $type-weight-bold;
}

h1 {
    @mixin type-scale $type-xxlarge, 1.75;
}

h2 {
    @mixin type-scale $type-xlarge, 1.5;
    font-variant-ligatures: none;
}

h3 {
    @mixin type-scale $type-large, 1.25;
    font-weight: 600;
    letter-spacing: 1px;
}

h4, h5, h6 {
    @mixin type-scale $type-medium, 1;
    font-weight: 500;
    letter-spacing: 0.8;
    opacity: 0.8;
    font-weight: 600;
}

/**
 * Paragraphs
 */
p {
    margin: 0;
}

/**
 * Lists (ol, ul, dd)
 */
ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol {}
ol li {}
ul {}
ul li {}
dd {}
dl dt {}
dl dd {}

/**
 * Anchors
 */
a {
    color: $color-text-dark;
    text-decoration: none;
    transition: all 200ms ease-in-out;

    .icomoon {
        color: $color-tertiary;
        vertical-align: middle;
        margin-right: $unit;
    }
}

a:link {}
a:hover {
    color: $color-tertiary;
    cursor: pointer;
}

a:focus {
    outline: 0;
    color: $color-text;
}

a:visited {}

/**
 * Typographic details
 */
hr {
}

em {}

b, strong {
    font-weight: bold
}

address {}
small {}
pre {}
code {}
sub {}
sup {}
strike {}

* {
    font-variant-ligatures: none;
}