/*------------------------------------*\
    # base.typography
\*------------------------------------*/

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $ff-sans;
    font-weight: $type-weight-extra-bold;
    color: $color-text;
}

h1 {
    @mixin type-scale $type-xxlarge, 1.75;
}

h2 {
    @mixin type-scale $type-xlarge, 1.5;
}

h3 {
    @mixin type-scale $type-large, 1.25;
}

h4, h5, h6 {
    @mixin type-scale $type-medium, 1;
}

/**
 * Paragraphs
 */
p {
    @mixin type-scale $type-base, 1;
    margin: 0;
    color: $color-text;
}

/**
 * Lists (ol, ul, dd)
 */
ol, ul, dl {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol {}
ol li {}
ul {}
ul li {}
dd {}
dl dt {}
dl dd {}

/**
 * Anchors
 */
a {
    color: $color-primary;
    text-decoration: none;
    text-decoration-skip-ink: auto; /* Ensure that underlines don’t pass through descenders. */
    cursor: pointer;
    transition: all 250ms ease-out;
}
a:link {}
a:hover {
    color: color($color-primary lightness(+20));
}
a:focus {
    outline: 0;
    color: color($color-primary lightness(+10));
}
a:visited {}

/**
 * Typographic details
 */
hr {
    border-top: 1px solid #bfbfbf;
    border-bottom: 0;
}
em {}
b, strong {
    font-weight: bold
}
address {}
small {}
pre {}
code {
    background-color: color($color-text lightness(+80%));
    padding: calc($unit / 2);
    color: $color-secondary;
}
sub {}
sup {}
strike {}
