/*------------------------------------*\
    # component.form
\*------------------------------------*/

.form {
    &__group {
        margin-bottom: calc($unit * 3);

        &__label {
            @mixin type-scale $type-small, 1;
            font-weight: $type-weight-medium;
            /* margin-bottom: calc($unit / 2); */

            & .btn {
                float: right;
            }
        }
    }
    
    &--inline {
        display: flex;
    }
}
