/*------------------------------------*\
    # component.counter
\*------------------------------------*/

.counter {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        width: calc($unit * 2);
        height: calc($unit * 2);
        background-size: calc($unit * 2);
        transition: all 250ms ease-in-out;
        
        &--plus {
            background-image: svg-load('../styles/postcss-svg/plus.svg', stroke: $grey-5);
        }
        
        &--minus {
            background-image: svg-load('../styles/postcss-svg/minus.svg', stroke: $grey-5);
        }
    }

    &__btn {       
        display: flex;
        justify-content: center;
        align-items: center; 
        width: calc($unit * 7);
        height: calc($unit * 7);
        padding: 0 calc($unit * 2);
        line-height: calc($unit * 6);
        
        font-size: 14px;
        color: $grey-5;
        outline: none;
        border: 1px solid $grey-2;
        background-color: $white;
        
        cursor: pointer;
    
        transition: all 250ms ease-in-out;

        &--minus {
            border-top-left-radius: $radius-base;
            border-bottom-left-radius: $radius-base;

            &:hover {
                border: 1px solid $zest;

                & .counter__icon--minus {
                    background-image: svg-load('../styles/postcss-svg/minus.svg', stroke: $color-note);
                }
            }
        }
        
        &--plus{
            border-top-right-radius: $radius-base;
            border-bottom-right-radius: $radius-base;
    
            &:hover {
                border: 1px solid $zest;

                & .counter__icon--plus {
                    background-image: svg-load('../styles/postcss-svg/plus.svg', stroke: $color-note);
                }
            }
        }
        
        &--count {
            cursor: default;
            border-radius: 0;
        }
    }

    &--prepaid {
        min-width: calc($unit * 17);
        max-width: calc($unit * 22);
        text-align: center;

        background-color: $zest-light;
        color: $color-note;

        border: 1px solid $zest-dark;
        border-radius: 25px;
        @mixin type-scale $type-xsmall, 1;

        @media (--screen-to-sml) {
            min-width: calc($unit * 11);
            
            @mixin type-scale $type-tiny, 0.70;
            font-size: calc($unit * 1.3);
        }
    }
}