/*------------------------------------*\
    # component.content
\*------------------------------------*/

.content {
    &__main {
        &--form {
            max-width: $form-width-med;
        }
    }

    &__footer {
        &__wrap {
            &--buttons {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}