/*------------------------------------*\
    # component.form
\*------------------------------------*/

.form {
    &__group {
        margin-bottom: calc($unit * 2);

        &__label {
            @mixin type-scale $type-small, 1;
            font-weight: $type-weight-medium;
            /* margin-bottom: calc($unit / 2); */
        }
    }

    &--inline {
        display: flex;
    }
}
