/*------------------------------------*\
    # component.table
\*------------------------------------*/

.table {
	display: table;

	&--primary {
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		background-color: #ffffff;
		border: 1px solid $grey-2;

		&__thead {
			display: table-header-group;
		}

		&__tbody {
			display: table-row-group;
		}

		&__tfoot {
			display: table-footer-group;
		}

		&__tr {
			display: table-row;
		}

		&__th {
			@mixin type-scale $type-small, 1;
			display: table-cell;
			padding: calc($unit * 1.5) calc($unit * 2);
			text-align: left;
			color: #ffffff;
			background-color: $color-primary;
			font-weight: $type-weight-regular;
		}

		&__td {
			display: table-cell;
			padding: calc($unit * 1.5) calc($unit * 2);
			border-bottom: 1px solid $grey-2;
			text-align: left;
			font-weight: $type-weight-regular;
		}
	}

	&__icons {
		display: flex;
		text-align: right;
	}
}
