/*------------------------------------*\
    # component.search
\*------------------------------------*/

.search {

    &__filter {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: $aside-width;
        width: 308px;
        
        padding: calc($unit * 3.5) calc($unit * 4);
        
        background-color: color($color-background blackness(+3%));
        border-right: 1px solid $grey-2;
        
        overflow-y: auto;
        
        &--notifications {
            width: 340px;
        }
    }
    
    &__result {
        position: relative;
        display: flex;
        flex-direction: column;

        height: 100%;
        max-height: 100%;

        margin-left: 300px;

        &--notifications {
            margin-left: 340px;
        }
    }

    &__wrapper {
        display: flex;
    }
}