/*------------------------------------*\
    # component.form
\*------------------------------------*/

.form {
    &__group {
        margin-bottom: calc($unit * 2);

        &__label {
            font-weight: $type-weight-medium;
            line-height: 25px;
        }
    }

    &--inline {
        display: flex;
    }
}
