/*------------------------------------*\
    # component.layout
\*------------------------------------*/

$aside-width: 362px;
$aside-sml-width: 70px;
$aside-secondary-width: 280px;
$header-height: 96px;
$header-height-mobile: 72px;

.layout {
	&__header {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: $header-height-mobile;
		z-index: 6;

		@media (--screen-from-med) {
			height: $header-height;
		}

		@media (--screen-from-lrg) {
			left: $aside-secondary-width;
		}
	}

	&__aside {
		position: fixed;
		top: $header-height-mobile;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 0;
		overflow: hidden;
		background-color: $color-text;
		z-index: 9;

		display: flex;
		flex-direction: column;

		@media (--screen-from-med) {
			top: 0;
		}

		@media (--screen-from-lrg) {
			width: $aside-secondary-width;
		}

		&--secondary {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: $color-secondary;
			z-index: 99;

			@media (--screen-from-lrg) {
				top: $header-height;
				left: $aside-width;
				width: $aside-secondary-width;
			}
		}

		&.is-collapsed {
			@media (--screen-from-lrg) {
				width: $aside-sml-width;

				.nav__text {
					display: none;
				}

				.nav--secondary {
					display: none;
				}
			}

			& .nav--primary__item--give {
				margin: calc($unit * 3) calc($unit * 1);
				padding: calc($unit * 2);
			}
		}

		&.is-open {
			@media (--screen-to-lrg) {
				width: 100%;
			}
		}
	}

	&__content {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		padding: calc($unit * 2) calc($unit * 3);
        padding-bottom: calc($unit * 15);

		overflow-y: auto;

		@media (--screen-from-sml) {
			/* top: $header-height; */
		}

		@media (--screen-from-lrg) {
			left: $aside-secondary-width;
		}

		&--secondary {
			padding: calc($unit * 2);

			margin: 0 auto;

			@media (--screen-from-med) {
				max-width: 95vw;
				padding: calc($unit * 10);

				margin: 0 auto;
			}
		}

        &__inner {
            padding-top: $header-height-mobile;
            
            @media (--screen-from-sml) {
                padding-top: $header-height;
            }
        }

		&.is-collapsed {
			@media (--screen-from-lrg) {
				left: $aside-sml-width;
			}

			& .layout__header {
				left: $aside-sml-width;

				@media (--screen-to-lrg) {
					left: 0;
				}
			}
		}
	}

	&--error {
		height: 100vh;
		padding-top: 10vh;

		background-color: $grey-1;
	}

	&--nested {
		.layout__content__inner {
			position: relative;
			padding: 0;
		}
	}
}
