/*------------------------------------*\
    # components.list
\*------------------------------------*/

$field-width: 300px;
$field-width-sml: 100px;

$dd-width: 300px;
$dd-width-sml: 200px;

.list {

    &--preferences {
        display: flex;
        flex-direction: column;

        padding-bottom: calc($unit * 2);
        margin-bottom: calc($unit * 2);
        border-bottom: 1px dotted $grey-2;
        min-height: 53px;
        
        @media(--screen-from-lrg) {
            align-items: center;
            flex-direction: row;
        }

        &__label {
            width: 100%;
            font-weight: $type-weight-light;

            margin-bottom: calc($unit * 2);
            
            @media (--screen-from-lrg) {
                width: calc(100% - $field-width);
                margin-bottom: 0;
            }

            .is-dropdown {
                width: calc(100% - $dd-width-sml);

                @media (--screen-from-lrg) {
                    width: calc(100% - $dd-width);
                }
            }
        }

        &__field {
            width: 100%;

            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            & > div {
                width: 100%;
            }

            @media (--screen-from-lrg) {
                width: $field-width;
            }
        }

        &__dd {
            width: 100%;

            @media (--screen-from-lrg) {
                width: $dd-width;
            }
        }

        &__title {
            padding-bottom: calc($unit * 2);
            margin-bottom: calc($unit * 2);
            border-bottom: 1px solid $grey-2;
        }
    }

    &--faq {

        &__item {
            display: flex; 
            margin-bottom: calc($unit * 4);
        }

        &__text {
            width: calc(100% - $unit * 6);

            h4 {
                margin-bottom: calc($unit * 2);
            }
        }

        &__answer {
            display: none;
            color: $bali-hai;

            &.is-expanded {
                display: block;
            }
        }

        &__icon {
            display: inline-block;

            background-repeat: no-repeat;
            background-position: center center;
            vertical-align: middle;

            transition: all 250ms ease-in-out;
            width: calc($unit * 4);
            height: calc($unit * 4);
            background-size: calc($unit * 2);
            background-image: svg-load('../styles/postcss-svg/icon-plus.svg', stroke: $color-primary);
            border: 1px solid $color-primary;
            border-radius: 50%;
            margin-right: calc($unit * 2);

            &.is-expanded {
                transform: rotate(45deg);
            }
        }
    }
}