/*------------------------------------*\
    # component.wizard
\*------------------------------------*/

.wizard {
    display: flex;
    margin: calc($unit * 1) 0 calc($unit * 6) 0;

    &__item {
        flex: 1;
        overflow: hidden;
        position: relative;
        margin-right: calc($unit * 1);

        &::before {
            content: "";

            display: flex;
            justify-content: center;
            align-items: center;

            width: calc($unit * 4);
            height: calc($unit * 4);
            margin-bottom: calc($unit * 2);

            color: $white;
            border-radius: $radius-full;

            background-color: $bali-hai;
            background-image: svg-load('../styles/postcss-svg/wizard-loader.svg', fill: $white);
            background-repeat: no-repeat;
            background-position: center 5px;
            background-size: 14px;
            vertical-align: middle;
        }

        &::after {
            content: "";

            position: absolute;
            top: calc($unit * 2);
            left: calc($unit * 5);

            width: 100%;
            max-width: 100%;
            height: 1px;

            background-color: $color-text;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &__title {
            @mixin type-scale $type-small, 0.75;
        }

        &__value {
            @mixin type-scale $type-small, 0.75;
            color: $bali-hai;
        }

        &.is-checked {
            &::before {
                background-color: $color-text;
                background-image: svg-load('../styles/postcss-svg/check.svg', fill: $white);
                background-position: center 6px;
                background-size: 12px;
            }
        }
    }
}