/*------------------------------------*\
    # component.header
\*------------------------------------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #192A48;
    align-items: center;

    padding: 0 calc($unit * 2);

    @media (--screen-from-sml) {
        padding: 0 calc($unit * 4);
    }

    &__logo {
        height: 28px;
    }

    &__hamburger {
        display: inline-block;
        margin-right: calc($unit * 4);

        @media (--screen-from-sml) {
            display: none;
        }
    }

    &__options {
        margin-left: auto;
    }

    &__profile {
        position: relative;
        color: white;
        cursor: pointer;
        display: inline-block;

        &__img {
            border-radius: $radius-full;
            border: 1px solid color(white a(25%));
        }

        &__dropdown {
            position: absolute;
            top: calc($unit * 6);
            right: 0;
            display: none;
            background-color: white;
            color: $color-text;
            border-radius: $radius-base;
            box-shadow: $shadow-sml;
            padding: $unit 0;
            width: 100%;
            min-width: 200px;

            &.active {
                display: block;   
            }

            &__item {
                padding: $unit calc($unit * 2);
            }
        }

        &__name {
            padding: 0 calc($unit * 1);

            @media (--screen-from-sml) {
                padding: 0 calc($unit * 2);
            }
        
            span {
                display: none;
                margin-right: calc($unit * 1);

                @media (--screen-from-sml) {
                    display: inline-block;
                }
            }
        }
    }
}
