/*------------------------------------*\
    # component.scanner
\*------------------------------------*/

.scanner {
	display: flex;
	flex-direction: column;

	&__logo {
		height: calc($unit * 16);
		margin: calc($unit * 17) 0;
	}

	&__stepper {
		width: 50%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		margin-bottom: calc($unit * 10);

		&__step {
			height: calc($unit * 7);
			width: calc($unit * 7);

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: calc($unit * 5);
			background-color: $color-text;
			color: $white;
			font-weight: $type-weight-medium;

			&--active {
				background-color: $zest;
			}

			&--line {
				height: calc($unit / 6);
				width: 25%;
				background-color: $color-text;

				&:last-child {
					display: none;
				}
			}

			@media (--screen-to-lrg) {
				height: calc($unit * 6);
				width: calc($unit * 6);
			}
			
			@media (--screen-to-med) {
				height: calc($unit * 5);
				width: calc($unit * 5);
            }
		}
	}

	&__table {
		&--head {
			background: $color-background;
			height: calc($unit * 8);
			align-items: center;
			color: $heather;
		}

		&--body {
			height: calc($unit * 13);
			align-items: center;
			border-bottom: 1px solid color($color-text a(30%));
		}
	}

	&__footer {
		display: flex;
		justify-content: space-between;
	}

	&__finish {
		&--card {
			padding: calc($unit * 8) calc($unit * 17);
			padding-bottom: calc($unit * 2);
			margin-bottom: calc($unit * 5);
			background-color: $white;
			color: $color-text;
		}

		&--counter {
			padding: calc($unit * 3);
			text-align: center;
			background-color: $bali-hai;
			color: $white;
			font-weight: $type-weight-medium;
			border-radius: $unit;
		}
	}

	& input {
		background-color: $white;
		border: none;
		border-radius: calc($unit / 2);
	}

	& .k-textbox-container .k-dropdown-wrap,
	.k-dropdown .k-dropdown-wrap {
		border: none;
		border-radius: calc($unit / 2);
	}
}
