/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.btn {
	/**
     * Button base
    */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;

	touch-action: manipulation;
	user-select: none;

	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border: 0;
	border-radius: $radius-base;

	transition: all 250ms ease-in-out;

	&:focus {
		outline: 0;
		box-shadow: transparent;
	}

	/**
     * Button base project styling
    */
	font-family: $ff-sans;
	font-weight: $type-weight-medium;
	text-transform: uppercase;
	letter-spacing: 0.05em;

	/**
     * Button sizes
    */
	&--tny {
		font-size: 12px;
		height: calc($unit * 3.5);
		padding: 0 calc($unit * 1);
		line-height: calc($unit * 3.5);
	}

	&--xsml {
		font-size: 12px;
		height: calc($unit * 5);
		padding: 0 calc($unit * 2);
		line-height: calc($unit * 5);
	}

	&--sml {
		font-size: 14px;
		height: calc($unit * 6);
		padding: 0 calc($unit * 2);
		line-height: calc($unit * 6);

		&--wide {
			padding: 0 calc($unit * 4);
		}
	}

	&--base {
		font-size: 16px;
		height: calc($unit * 7);
		padding: 0 calc($unit * 3);
		line-height: calc($unit * 7);
	}

	&--med {
		font-size: 15px;
		/* min-width: calc($unit * 26); */
		height: calc($unit * 8);
		padding: 0 calc($unit * 3);
		line-height: calc($unit * 8);

		&--wide {
			padding: 0 calc($unit * 8);
		}

		@media (--screen-to-med) {
			height: calc($unit * 8);
			line-height: calc($unit * 8);
			padding: 0 calc($unit * 4);
			@mixin type-scale $type-small, 1;
		}

		&--100 {
			width: 100%;
			max-width: 360px;
			padding: 0 calc($unit * 4);
			@mixin type-scale $type-base, 1;

			.u-icon--arrow-forward {
				margin-left: auto;
			}
		}
	}

	&--lrg {
		height: calc($unit * 8);
		padding: 0 calc($unit * 6);
		line-height: calc($unit * 8);
	}

	&--100 {
		width: 100%;
		height: calc($unit * 8);
		display: flex;
		justify-content: center;
		align-items: center;
		@mixin type-scale $type-base, 1;

		@media (--screen-to-med) {
			height: calc($unit * 8);
			line-height: calc($unit * 8);
			padding: 0 calc($unit * 3);
			@mixin type-scale $type-small, 1;
		}
	}

	/**
     * Button styles
    */
	&--primary {
		background: $bali-hai;
		color: $white;

		&:hover {
			background: color($bali-hai a(65%));
			color: $white;
		}

		&--light {
			background-color: $color-background;
			color: $color-text;

			&:hover {
				background: color($color-background a(80%));
			}

			.u-icon--arrow-forward {
				background-image: svg-load('../styles/postcss-svg/arrow-right.svg', stroke: $color-text);
			}
		}
	}

	&--secondary {
		display: inline-flex;
		justify-content: center;
		background: $color-text;
		color: $white;

		&:hover {
			color: color($white a(80%));
			background: color($color-text a(80%));
		}
	}

	&--tertiary {
		background: $white;
		color: $zest;

		&:hover {
			background: $lavander;
			color: $color-text;
		}
	}

	&--show {
		width: 100%;
		height: calc($unit * 8);
		display: flex;
		justify-content: space-between;
		padding: 0 calc($unit * 6);
		line-height: calc($unit * 8);

		align-items: center;
		color: $color-text;
		background-color: $color-background;
		border-radius: calc($unit * 4);

		box-shadow: $shadow-card;

		@mixin type-scale $type-base, 1;

		@media (--screen-to-sml) {
			padding: 0 calc($unit * 4);

			@mixin type-scale $type-small, 1;
		}

		&--secondary {
			background-color: $white;

			transition: all 150ms;

			&.show {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	&--warning {
		background: $color-warning;
		color: white;

		&:hover {
			background: color($color-warning blackness(+10%));
		}
	}

	&--neutral {
		background: $grey-6;
		color: white;

		&:hover {
			background: color($grey-6 blackness(+10%));
		}
	}

	&--ghost {
		background-color: transparent;
		color: $color-primary;
		border: 1px solid $color-primary;

		&:hover {
			color: color($color-primary blackness(+10%));
		}

        &--secondary {
            background-color: transparent;
            color: $color-text;
            border: 1px solid color($color-text a(0.5));

            &:hover {
                border-color: color($black a(0.15));
            }
        }

        &--warning {
            background-color: transparent;
            color: $color-warning;
            border: 1px solid $color-warning;

            &:hover {
                color: color($color-warning blackness(+10%));
            }
        }
	}

	&--blank {
		background-color: transparent;
		color: $color-primary;
		border: transparent;

		&:hover {
			color: color($color-primary blackness(+10%));
		}
	}

	&--link {
		padding: 0;
		color: $color-primary;
		background-color: transparent;

		&:hover {
			text-decoration: underline;
		}

		&--secondary {
			padding: 0;
			color: $color-text;
			background-color: transparent;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&--plaid {
		button {
			display: inline-flex;
			justify-content: center;
			
			padding: calc($unit * 3) !important;
			
			font-size: 15px !important;
			line-height: calc($unit * 4);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: $white;
			
			border-radius: $radius-base !important;
			border: 0 !important;
			background: $color-text !important;

			transition: all 250ms ease-in-out;

			cursor: pointer;

			@media (--screen-from-med) {
				height: calc($unit * 8) !important;
				padding: 0 calc($unit * 3) !important;
				line-height: calc($unit * 8);
			}

			&:hover {
				color: color($white a(80%));
				background: color($color-text a(80%));
			}
		}

		&--outline {
			button {
				background-color: transparent !important;
				color: $color-primary;
				border: 1px solid $color-primary !important;
		
				&:hover {
					color: color($color-primary blackness(+10%));
				}
			}
		}
	}

	/* Fake button as Kendo tooltip position fix */
	&--icon {
		padding: 0;
		background-color: transparent;

		&--med {
			padding: 0 calc($unit * 2);
		}

		/* Sizes */
		&--sml {
			padding: calc($unit * 3 - 1px) calc($unit * 3 - 1px);
		}

		&--lrg {
			padding: calc($unit * 4 - 1px) calc($unit * 4 - 1px);
		}

		&--pdf {
			display: flex;
			padding: 0 calc($unit * 4);
			
			&::before {
				content: "";

				display: block;

				width: calc($unit * 3);
				height: calc($unit * 3);
				background-size: calc($unit * 3);
				margin-right: calc($unit * 2);
	
				background-image: svg-load('../styles/postcss-svg/pdf.svg', stroke: $white);
				background-repeat: no-repeat;
				background-position: center center;
				vertical-align: middle;
		
				transition: all 250ms ease-in-out;
			}
		}
	}

	&.is-disabled,
	&[disabled] {
		pointer-events: none;
		opacity: 0.6;
	}

	&[aria-busy='true'] {
		animation: button-busy 1500ms ease-in-out infinite;
		cursor: not-allowed !important;
		pointer-events: none !important;

		&:focus {
			box-shadow: none !important;
		}

		&:active {
			transform: none !important;
		}
	}

	&--back-to-top {
		position: fixed;
		bottom: 48px;
		right: 48px;
		padding-top: calc($unit * 1.5);
	}
}

/* Busy button animation */
@keyframes button-busy {
	0% {
		opacity: 0.2;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 0.2;
	}
}
