/*------------------------------------*\
    # component.card
\*------------------------------------*/

.card {
    &--primary {
        background-color: $white;
        border-radius: $radius-base;
        box-shadow: $shadow-card; 
    }

    &--secondary {
        border-radius: $radius-base;
        background-color: $color-background;

        &--light {
            background-color: $color-background-seashellt; 
            border: 1px solid $almond;
        }
    }
    
    &--tertiary {
       background-color: $scandal;
       border-radius: $radius-base;
       box-shadow: $shadow-card; 

       &--light {
        background-color: $color-background-clear-day;
        border: 1px solid $scandal;
       }
    }

    &--form {
        background-color: $color-background-seashellt;
        border-radius: $radius-base;
        box-shadow: $shadow-card; 
    }

    &--tny {
        padding: calc($unit * 2);
    }

    &--sml {
        padding: calc($unit * 3);
    }

    &--med {
        padding: calc($unit * 4);
    }

    &--lrg {
        padding: calc($unit * 6);
    }
    
    &--xlrg {
        padding: calc($unit * 7.5);
    }
}
