/*------------------------------------*\
    # component.charity-information
\*------------------------------------*/

.charity-information {
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: calc($unit * 2) calc($unit * 4);
        background-color: $color-background;
        text-align: center;
        
        &--secondary {
            justify-content: center;
            
            font-weight: $type-weight-medium;
        }
    }
}