/*------------------------------------*\
    # component.filter
\*------------------------------------*/

.filter {

    &--table {
        width: 100%;
        max-width: 400px;

        &__wrap {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__btn {

        &--clear {
            position: absolute; 
            right: calc($unit * 7);
            top: 4px;
            cursor: pointer;
        }
    }
}
