/*------------------------------------*\
    # component.dashboard-card
\*------------------------------------*/

.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 629px;
    padding: calc($unit * 7) calc($unit * 7);
    padding-bottom: calc($unit * 5);
    
    border-radius: $radius-base;
    background-color: $white;
    box-shadow: $shadow-card;
    
    @media (--screen-from-lrg) {
        height: 638px;
    }
    
    @media (--screen-to-sml) {
        padding: calc($unit * 5) calc($unit * 3);

        & .remove--sml {
            display: none;
        }
    }

    &__body {
        text-align: center;
        margin-bottom: calc($unit * 6);

        &--amount {
            margin-bottom: calc($unit * 2);
            color: $color-text;
            @mixin type-scale $type-huge, 3.5;

            @media (--screen-to-lrg) {
                @mixin type-scale $type-xxxlarge, 2;
            }

            &--secondary {
                margin-bottom: calc($unit * 2);
                color: $color-text;
         
                @mixin type-scale $type-xxxlarge, 2.3;
            }
        }

        &--title {
            margin-bottom: calc($unit * 10);

            color: $bali-hai;
            text-transform: uppercase;
            font-weight: $type-weight-medium;
            font-size: 16px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;

        @media (--screen-from-xlrg) {
            padding: 0 calc($unit * 6);
        }
    }

    &--emptystate {
        background-color: $white;
        border-radius: calc($unit * 1);
        padding: calc($unit * 7) calc($unit * 7);
        padding-bottom: calc($unit * 5);
        margin-bottom: calc($unit * 4);
        
        &__body {
            padding: calc($unit * 8) 0;
            text-align: center;
    
            &--title {
                margin-bottom: calc($unit * 4);
                color: $color-text;
                font-weight: $type-weight-bold;
                @mixin type-scale $type-medium, 1.25;
                @media (--screen-from-med) {
                    @mixin type-scale $type-large, 1.5;
                }
                
            }
    
            &--info {
                margin-bottom: calc($unit * 8);
                color: $color-opaque;
                @mixin type-scale $type-base, 1;
                font-weight: $type-weight-semi-bold;
            }

            & .btn {
                width: 100%;
                max-width: 283px;
                padding: 0 calc($unit * 4);

                @mixin type-scale $type-base, 1;
            }
        }
    }
}