/*------------------------------------*\
    # component.withdraw
\*------------------------------------*/

.withdraw {
	&__container {
        max-width: 900px;
		text-align: center;
	}

	&__title {
		color: $color-primary;
	}

	&__price {
        margin-bottom: calc($unit * 10);
        margin-top: calc($unit * 4);

        @mixin type-scale $type-huge, 1.5;
		@media (--screen-from-med) {
			@mixin type-scale $type-huge, 2;
		}
	}
}
