/*------------------------------------*\
    # component.charity
\*------------------------------------*/

.c-charity {
    &__wrapper {
        /* display: inline-block; */
        margin-bottom: calc($unit * 6);
    }

	&__account {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: calc($unit * 2);
        }

		&__info {
            @media (--screen-to-med) {
                margin-bottom: calc($unit * 2);
			}
        }

        &__qr {
            text-align: center;

            @media (--screen-to-med) {
                margin-top: calc($unit * 2);
                padding-top: calc($unit * 2);
                border-top: 1px solid $almond;
			}
        }
	}
}
