/*------------------------------------*\
    # component.login
\*------------------------------------*/

.login {
	min-height: 100vh;
	display: flex;

	background-color: $white;

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: calc($unit * 3);

		&__logo {
			margin: $unit 0 calc($unit * 4);
			height: calc($unit * 7);

			@media (--screen-from-lrg) {
				height: calc($unit * 10);
				margin: calc($unit * 6) 0;
			}
		}

		&__form {
			width: 100%;
			margin: 0 auto;
			background-color: $white;

			@media (--screen-from-med) {
				width: 80%;
			}

			@media (--screen-from-lrg) {
				width: 60%;
			}
		}
	}

	&__title {
		margin-bottom: calc($unit * 5);
		font-family: $ff-serif;
		text-align: center;
		@mixin type-scale $type-xlarge, 1.25;

		@media (--screen-from-lrg) {
			@mixin type-scale $type-huge, 3.5;
		}

		&--secondary {
			margin-bottom: calc($unit * 2);

			@mixin type-scale $type-xlarge, 1.25;
			@media (--screen-from-med) {
				margin-bottom: calc($unit * 5);

				@mixin type-scale $type-xxlarge, 2;
			}
		}
	}

	&__wrapper {
		
		@media (--screen-from-sml) {
			max-width: 80%;
			margin: 0 auto;
		}

		@media (--screen-from-lrg) {
			max-width: 100%;
		}
	}

	&__separator {
		display: inline-block;
		width: 70px;

		margin-left: calc($unit * 3);
		margin-right: calc($unit * 3);

		border-top: 1px solid $bali-hai;
	}

	&__desc {
		width: 100%;

		margin-bottom: calc($unit * 6);

		color: $color-opaque;
		text-align: center;
		@mixin type-scale $type-base, 1;

		@media (--screen-from-med) {
			@mixin type-scale $type-medium, 1.25;
		}

		@media (--screen-from-lrg) {
			max-width: 400px;
		}
	}

	&__media {
		display: none;

		@media (--screen-from-lrg) {
			display: block;
			width: 49%;
			min-height: 100vh;
			background: url('../assets/img/login-door.jpg');
			background-position: center;
			background-size: cover;
		}
	}

	&__logo {
		width: 100%;

		margin: 0 auto;
		margin-bottom: calc($unit * 6);

		@media (--screen-from-med) {
			width: 60%;
			margin-bottom: calc($unit * 15);
		}
	}

	&__info {
		width: 51%;
		min-height: 100vh;

		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		padding: calc($unit * 22) 0;
		padding-bottom: calc($unit * 5);
		margin: 0 auto;

		@media (--screen-to-lrg) {
			width: 100%;
			padding: calc($unit * 6) calc($unit * 5);
			padding-bottom: calc($unit * 5);
		}
	}
}
