/*------------------------------------*\
    # components.content
\*------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__main {
        position: relative;

        display: flex;
        flex-direction: row;

        flex-grow: 1;
        overflow-y: hidden;
        overflow-x: hidden;

        &__aside {
            overflow: auto;
            overflow-y: auto;

            position: sticky;
            top: 0;
            bottom: 0;

            width: $aside-treeview;
            min-width: $aside-treeview;
            border-right: 1px solid $grey-2;

            transition: all 250ms ease-out;

            /*firefox scrollbar*/
            scrollbar-width: thin;

            &__action {
                width: calc($unit * 4);
                padding: 0;

                cursor: pointer;
                white-space: nowrap;
                text-decoration: none;
                text-align: center;
                border: 0;

                border-right: 1px solid color($color-tertiary lightness(+25%));
                background: color($color-tertiary lightness(+45%));

                transition: all 250ms ease-out;

                &:hover {
                    background: color($color-tertiary lightness(+40%));

                    & .treeview {
                        color: $color-tertiary;
                    }
                }

                &:focus {
                    outline: 0;
                }

                
                
            }

            &.is-collapsed {
                width: 0;
                min-width: 0;
            }
        }

        &__content {
            position: relative;
            flex: 1;
            overflow-x: auto;

            /*firefox scrollbar*/
            scrollbar-width: thin;
        }
    }

    &__header {
        z-index: 100;
        border-bottom: 1px solid $grey-2;
        padding: $unit calc($unit * 2);
        
        box-shadow: 0 5px 10px -13px;
    }

    &__footer {
        z-index: 1;
        padding: calc($unit * 2);

        background-color: $white;
        border-top: 1px solid $grey-2;
        box-shadow: 0 0 6px -2px $grey-3;
    }
}


/*
    firefox targeting 
        -setting height to span element 
        -fixing overflow on wrapper 
*/
@-moz-document url-prefix() {
    .content__main__aside__action .icomoon.treeview {
        height: 10px;
    }
}

/*
    Ms Edge targeting 
        -setting height to span element 
        -fixing overflow on wrapper 
*/
@supports (-ms-ime-align:auto) {
    .content__main__aside__action .icomoon.treeview {
        height: 10px;
    }
}