/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.btn {
    /**
     * Button base
    */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;
    border-radius: $radius-base;

    transition: all 250ms ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: transparent;
    }

    /**
     * Button base project styling
    */
    font-family: $ff-sans;
    font-weight: $type-weight-regular;
    text-transform: none;

    /**
     * Button sizes
    */
    &--tny {
        font-size: 12px;
        height: calc($unit * 3.5);
        padding: 0 calc($unit * 1);
        line-height: calc($unit * 3.5);
    }

    &--sml {
        font-size: 14px;
        height: calc($unit * 6);
        padding: 0 calc($unit * 2);
        line-height: calc($unit * 6);
    }

    &--base {
        font-size: 16px;
        height: calc($unit * 7);
        padding: 0 calc($unit * 3);
        line-height: calc($unit * 7);
    }

    &--med {
        font-size: 16px;
        height: calc($unit * 8);
        padding: 0 calc($unit * 4);
        line-height: calc($unit * 8);
    }

    &--lrg {
        height: calc($unit * 10);
        padding: 0 calc($unit * 6);
        line-height: calc($unit * 10);
    }

    /**
     * Button styles
    */
    &--primary {
        background: $white;
        color: $color-note;

        &:hover {
            background: color($white blackness(+5%));
        }
    }
    &--secondary {
        background: $scandal;
        color: $color-note;

        &:hover {
            background: color($scandal blackness(+5%));
        }
    }
    &--warning {
        background: $color-warning;
        color: white;

        &:hover {
            background: color($color-warning blackness(+10%));
        }
    }
    &--neutral {
        background: $grey-6;
        color: white;

        &:hover {
            background: color($grey-6 blackness(+10%));
        }
    }
    &--ghost {
        background-color: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;

        &:hover {
            color: color($color-primary blackness(+10%));
        }
    }

    &--blank {
        background-color: transparent;
        color: $color-primary;
        border: transparent;
        
        &:hover {
            color: color($color-primary blackness(+10%));
        }
    }
    
    &--link {
        padding: 0;
        color: $color-primary;
        background-color: transparent;
    }

    /* Fake button as Kendo tooltip position fix */
    &--icon {
        padding: 0;
        background-color: transparent;

        .u-icon {
            border-radius: $radius-base;
        }

        /* Sizes */
        &--sml {
            padding: calc($unit * 3 - 1px) calc($unit * 3 - 1px);
        }
    }

    &.is-disabled,
    &[disabled] {
        pointer-events: none;
        opacity: 0.6;
    }

    &[aria-busy="true"] {
        animation: button-busy 1500ms ease-in-out infinite;
        cursor: not-allowed !important;
        pointer-events: none !important;

        &:focus {
            box-shadow: none !important;
        }

        &:active {
            transform: none !important;
        }
    }

    &--back-to-top {
        position: fixed;
        bottom: 48px;
        right: 48px;
        padding-top: calc($unit * 1.5);
    }
}

/* Busy button animation */
@keyframes button-busy {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}
