/*------------------------------------*\
    # component.charity
\*------------------------------------*/

.c-charity {
    &__wrapper {
        /* display: inline-block; */
        margin-bottom: calc($unit * 6);
    }

	&__account {
		&__info {
            @media (--screen-to-med) {
                margin-bottom: calc($unit * 2);
			}
        }

        &__qr {
            text-align: center;
        }
	}
}
