/*------------------------------------*\
    # component.container
\*------------------------------------*/

.container {
    width: 100%;
    margin: 0 auto;
    
    &--sml {
    	max-width: 768px;
    }
    
    &--base {
        max-width: 1440px;
    }
}
