/*------------------------------------*\
    # component.container
\*------------------------------------*/

.container {
    width: 100%;
    margin: 0 auto;
    
    &--sml {
    	max-width: 768px;
    }
    
    &--base {
        max-width: 1024px;
    }

    &--lrg {
        max-width: 1440px;
    }

    &--sidebar {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: calc($unit * 4);
        
        @media(--screen-from-xlrg) {
            grid-template-columns: 1fr 400px;
        }
       
        @media(--screen-from-xxlrg) {
            grid-template-columns: 1fr;
        }

        @media(--screen-from-xxxlrg) {
            grid-template-columns: 1fr 450px;
        }
    }
}
