/*------------------------------------*\
    # components.treeview
\*------------------------------------*/

.treeview {
    padding: $unit;

    &__search {
        display: block;
        width: 100%;

        margin-bottom: calc($unit * 2);
        margin-top: $unit;
        padding: calc($unit * 2);
        
        border: none;
        border-bottom: 2px solid $grey-2;
        border-radius: 0;

        transition: all 300ms ease-in-out;
        
        &:focus {
            border-color: $color-tertiary;
            outline: none;
        }
    }
}