/*------------------------------------*\
    # component.search
\*------------------------------------*/

.search {
	&__filter {
		position: fixed;
		top: $header-height;
		bottom: 0;
		left: $aside-width;
		width: 308px;

		padding: calc($unit * 3.5) calc($unit * 4);

		background-color: color($color-background blackness(+3%));
		border-right: 1px solid $grey-2;

		overflow-y: auto;

		&--notifications {
			width: 340px;
		}
	}

	&__result {
		position: relative;
		display: flex;
		flex-direction: column;

		height: 100%;
		max-height: 100%;

		margin-left: 300px;

		&--notifications {
			margin-left: 340px;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;

		flex: 2;

		height: calc($unit * 8);

		padding: $unit calc($unit * 2) $unit 0;
		border: 1px solid color($color-text a(0.4));
		border-radius: $radius-base;
		/* max-width: 650px; */
		background-color: white;

		@media (--screen-to-med) {
			margin-bottom: calc($unit * 2);
		}

		@media (--screen-from-med) {
			padding: $unit;
		}

		&__item {
			margin-right: $unit;

			@media (--screen-from-med) {
				margin-right: calc($unit * 2);
			}
		}
	}

	&__input {
		&__wrapper {
			flex: 1;
		}

		&--noborder {
			border: 0px !important;
		}
	}

	&__btn {
		&__search {

		}

		&__advanced {
			display: flex;
			align-items: center;

			height: 100%;
			margin-left: calc($unit * 2);
			padding-right: calc($unit * 2);
			
			cursor: pointer;

			.u-icon--arrow-down--primary {
				margin-left: calc($unit * 2);
			}
		}

		&__text {
			@media (--screen-to-med) {
				display: none !important;
			}
		}

		&__icon {
			@media (--screen-from-med) {
				display: none !important;
			}
		}
	}

	&__additional {
		flex: 1;
		margin-left: calc($unit * 2);
	}

	&--table {
		@media (--screen-from-med) {
			display: flex;
		}
	}
}
