/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.btn {
    /**
     * Button base
    */
    display: inline-block;
    vertical-align: middle;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 0;

    &:focus {
        outline: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

    /**
     * Button base project styling
    */
    font-family: $ff-sans;
    font-weight: $type-weight-regular;
    text-transform: none;
    border-radius: $radius-base;

    /**
     * Button sizes
    */
    &--sml {
        font-size: 14px;
        height: calc($unit * 6);
        padding: 0 calc($unit * 2);
        line-height: calc($unit * 6);
    }

    &--base {
        font-size: 14px;
        height: calc($unit * 6);
        padding: 0 calc($unit * 2);
        line-height: calc($unit * 6);

        &.btn--ghost {
            line-height: calc($unit * 6 - 1px)
        }

        &--link {
            padding: 0;
        }
    }

    &--med {
        font-size: 16px;
        height: calc($unit * 8);
        padding: 0 calc($unit * 4);
        line-height: calc($unit * 8);
    }

    &--lrg {
        height: calc($unit * 10);
        padding: 0 calc($unit * 6);
        line-height: calc($unit * 10);
    }

    /**
     * Button styles
    */
    &--primary {
        background: $color-primary;
        color: white;

        &:hover {
            background: color($color-primary blackness(+10%));
        }
    }
    &--secondary {
        background: $color-secondary; 
        color: white;

        &:hover {
            background: color($color-secondary blackness(+10%));
        }
    }
    &--neutral {
        background: $grey-6;
        color: white;

        &:hover {
            background: color($grey-6 blackness(+10%));
        }
    }
    &--ghost {
        background-color: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;

        &:hover {
            color: color($color-primary blackness(+10%));
        }
    }

    &--icon {
        background-color: transparent;
        color: $grey-4;
        opacity: 0.8;
        transition: all 250ms ease-in-out;
        box-shadow: none;

        &:hover {
            color: $grey-5;
            opacity: 1;
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &--block {
        display: block;
        width: 100%;
    }

    &.is-disabled,
    &[disabled] {
        pointer-events: none;
        opacity: 0.5;
        border-color: transparent;
    }

    &[aria-busy="true"] {
        animation: button-busy 1500ms ease-in-out infinite;
        cursor: not-allowed !important;
        pointer-events: none !important;

        &:focus {
            box-shadow: none !important;
        }

        &:active {
            transform: none !important;
        }
    }
}

/* Busy button animation */
@keyframes button-busy {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}
