/*------------------------------------*\
    # component.header
\*------------------------------------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $white;
    align-items: center;

    border-bottom: 1px solid color($color-text a(10%));
    padding: 0 calc($unit * 8);
    @mixin type-scale $type-medium, 1.25;

    @media (--screen-to-xxlrg) {
        @mixin type-scale $type-base, 1;
        padding: calc($unit * 3) calc($unit * 4);
    }

    @media (--screen-to-xlrg) {
        padding: 0 calc($unit * 4);

        & .account-manager {
            display: none;
        }
    }
    
    @media (--screen-to-sml) {
        padding: calc($unit * 3) calc($unit * 1);
    }

    &__logo {
        height: 53px;
    }

    &__hamburger {
        display: inline-block;

        @media (--screen-from-lrg) {
            display: none;
        }      
    }

    &__options {
        margin-left: auto;
    }

    &__profile {
        position: relative;
        color: $color-text;
        cursor: pointer;
        display: inline-block;

        &__img {
            margin-right: calc($unit * 2);
            border-radius: $radius-full;
            border: 1px solid color(white a(25%));
        }

        &__dropdown {
            position: absolute;
            top: calc($unit * 6);
            right: 0;
            display: none;
            background-color: white;
            color: $color-text;
            border-radius: $radius-base;
            box-shadow: $shadow-sml;
            padding: $unit 0;
            width: 100%;
            min-width: 200px;

            &.active {
                display: block;   
            }

            &__item {
                padding: $unit calc($unit * 2);
                
                @mixin type-scale $type-base, 1;
            }
        }

        &__name {
            @mixin type-scale $type-medium, 1.25;

            @media (--screen-to-lrg) {
                @mixin type-scale $type-base, 1;
            }
        
            span {
                display: none;
                margin-right: calc($unit * 1);

                @media (--screen-from-sml) {
                    display: inline-block;
                }
            }
        }
    }
}
