/*------------------------------------*\
    # components.content
\*------------------------------------*/

.finder {
    display: flex;
    flex-direction: row;

    width: 65vw;

    margin-top: calc($unit * 2);
    border-radius: $global-radial;

    background-color: $grey-1;
    
    @media (--screen-to-lrg) {
        width: 100%;
    } 

    &__box {
        flex: 1;

        max-height: 350px;
        overflow-y: auto;

        border-right: 1px solid $grey-2;
        &:last-child {
            border-right: none;
        }

        &__header {
            position: sticky;
            top: 0;

            display: inline-block;
            width: 100%;
            padding: $unit calc($unit * 2);
            
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.1250em;
            text-transform: uppercase;
            
            color: $white;
            background-color: color($grey-10 lightness(+15%));
        }

        &__item {
            padding: $unit;
            border-bottom: 1px solid $grey-1;
            cursor: pointer;

            transition: all 250ms ease-out;

            &:hover {
                background-color: color($color-secondary-light lightness(+50%));
            }

            &.active {
                background-color: $color-secondary-light;
                font-weight: $type-weight-medium;
                color: $white;
            }

            &.disabled {
                cursor: not-allowed;
            }
        }
    }
    
    /*button for show/hide finder component*/
    &__btn {
        /*make rotate transition*/
        .k-icon {
            transition: all 250ms ease-out;
        }
        
        &.active {
            .k-icon {
                transform: rotate(180deg);
                vertical-align: sub;
            }
        }
    }
}