/*------------------------------------*\
    # component.layout
\*------------------------------------*/

$aside-width: 362px;
$aside-sml-width: 70px;
$aside-secondary-width: 300px;
$header-height: 96px;

.layout {
    
    &__header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: $header-height;
        z-index: 6;

        @media (--screen-from-lrg) {
            left: calc($aside-width - calc($unit * 13));
        }
        
        @media (--screen-from-xlrg) {
            left: $aside-width;
        }
    }

    &__aside {
        position: fixed;
        top: $header-height;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        background-color: $color-text;
        z-index: 9;

        @media (--screen-from-lrg) {
            width: calc($aside-width - calc($unit * 13));
        }
        
        @media (--screen-from-xlrg) {
            width: $aside-width;
        }

        &--secondary {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: $color-secondary;
            z-index: 99;

            @media (--screen-from-lrg) {
                top: $header-height;
                left: $aside-width;
                width: $aside-secondary-width;
            }
        }


        &.is-collapsed {

            @media (--screen-from-lrg) {
                width: $aside-sml-width;

                .nav__text {
                    display: none;
                }

                .nav--secondary {
                    display: none;
                }
            }            
        }
    }

    &__content {
        position: fixed;
        top: $header-height;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        overflow-y: auto;

        padding: calc($unit * 3) calc($unit * 8);

        &.is-collapsed {

            @media (--screen-from-lrg) {
                left: $aside-sml-width;
            }

            & .layout__header {
                left: $aside-sml-width;

                @media (--screen-to-lrg) {
                    left: 0;
                } 
            }
        }

        @media (--screen-to-xlrg) {
            padding: calc($unit * 3) calc($unit * 4);
        }
        
        @media (--screen-from-lrg) {
            left: calc($aside-width - calc($unit * 13));
        }
        
        @media (--screen-from-xlrg) {
            left: $aside-width;
        }
    }

    &--error {
        height: 100vh;
        padding-top: 10vh;
        
        background-color: $grey-1;
    }
}