/*------------------------------------*\
    # component.advanced-search
\*------------------------------------*/

.advanced-search {
    @mixin type-scale $type-base, 1;
	padding: calc($unit * 1) calc($unit * 2);
    
    background-color: $bali-hai;
    color: $white;
    
    border-radius: 25px;
	border: none;
	outline: none;
    
    cursor: pointer;
    transition: all 250ms ease-in-out;

    & .u-icon {
        margin-left: calc($unit * 1);
    }

    &:hover {
        background-color: color($bali-hai a(70%));
    }
}
