/*------------------------------------*\
    # component.transaction
\*------------------------------------*/

.transaction {
    &__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: $unit 0;

        border-right: 2px solid color($color-opaque a(30%));

        @media (--screen-to-lrg) {
            padding-bottom: calc($unit * 2);
            margin-bottom: calc($unit * 2);

            border-right: 0;
            border-bottom: 2px solid color($color-opaque a(30%));
        }

        &--last {
            border: none;
        }
        
        &--amount {
            margin-right: calc($unit * 2);

            font-weight: $type-weight-bold;
            @mixin type-scale $type-xlarge, 1.5;
            color: $color-text;
            
            @media (--screen-from-xlrg) {
                @mixin type-scale $type-xxxlarge, 2;
            }
            
            &--plus {
                padding-left: calc($unit * 2);
            }
        }
        
        &--title {
            width: calc($unit * 18);

            color: $bali-hai;
            text-transform: uppercase;
            @mixin type-scale $type-small, 1;
            font-weight: $type-weight-medium;

            @media (--screen-to-xlrg) {
                @mixin type-scale $type-xsmall, 1;
            }
        }
    }

    &__show {
        padding: calc($unit * 3) calc($unit * 4);
        
        border-radius: $radius-base;
        box-shadow: $shadow-card; 
        background-color: $white;
        
        &--body {
            display: flex;
            justify-content: space-between;
        }
    }
}