/*------------------------------------*\
    # components.content
\*------------------------------------*/

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  &__main {
    position: relative;
    
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    
    &__aside {
      width: 0;
      overflow-y: auto;
      position: sticky;
      top: 0;
      bottom: 0;
      overflow: auto;
      border-right: 1px solid $grey-2;
      
      &.active {
        width: 200px;
      }
    }

    &__content {
      width: calc(100% - 200px);

      overflow-x: auto;
      
      &.sidebar-hidden {
        width: 100%;
      }
    }
  }
  
  &__header {
      border-bottom: 1px solid $grey-2;
      padding: $unit $spacer;
    }

    &__footer {
      padding: calc($unit * 2);
      
      background-color: $white;
      border-top: 1px solid $grey-2;
    }
}