/*------------------------------------*\
    # components.list
\*------------------------------------*/

$field-width: 300px;
$field-width-sml: 100px;

$dd-width: 300px;
$dd-width-sml: 200px;

.list {

    &--preferences {
        display: flex;
        align-items: center;

        padding-bottom: calc($unit * 2);
        margin-bottom: calc($unit * 2);
        border-bottom: 1px dotted $grey-2;
        height: 73px;

        &__label {
            width: calc(100% - $field-width-sml);
            font-weight: $type-weight-light;

            @media (--screen-from-lrg) {
                width: calc(100% - $field-width);
            }

            .is-dropdown {
                width: calc(100% - $dd-width-sml);

                @media (--screen-from-lrg) {
                    width: calc(100% - $dd-width);
                }
            }
        }

        &__field {
            width: $field-width-sml;

            display: flex;
            justify-content: flex-end;

            & > div {
                width: 100%;
            }

            @media (--screen-from-lrg) {
                width: $field-width;
            }
        }

        &__dd {
            width: $dd-width-sml;

            @media (--screen-from-lrg) {
                width: $dd-width;
            }
        }

        &__title {
            padding-bottom: calc($unit * 2);
            margin-bottom: calc($unit * 2);
            border-bottom: 1px solid $grey-2;
        }
    }
}