/*------------------------------------*\
    # component.info-card
\*------------------------------------*/

.info-card {
	margin-bottom: calc($unit * 1);
	padding: calc($unit * 1.5) calc($unit * 2);
	border: 1px solid $color-background;
	border-radius: $radius-base;

	transition: all 250ms ease-in-out;
	cursor: pointer;

	&:hover {
		/* padding: calc($unit * 4); */
		background-color: $color-background;
		border-radius: $radius-base;
	}

	/* &:last-of-type {
		margin-bottom: calc($unit * 4);
	} */

	&__container {
		display: flex;
		gap: calc($unit * 2);
	}

	&__item {
		flex-grow: 1;
	}

	&__label {
		@mixin type-scale $type-small, 1;
		font-weight: $type-weight-regular;
		color: $bali-hai;
	}

	&__value {
		font-weight: $type-weight-bold;
		word-break: break-all;
	}

	&--footer {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-end;

		width: 100%;
		text-align: right;
		margin-top: calc($unit * 3);

		& .btn {
			&:last-child {
				margin-left: 12px;
			}
		}

		@media (--screen-to-med) {
			align-items: center;
			justify-content: center;
			display: flex;

			& .btn {
				min-width: 48%;

				&:last-child {
					margin-left: 2%;
				}
			}
		}
	}
}
