/*------------------------------------*\
    # component.booklet
\*------------------------------------*/

.booklet {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: calc($unit * 2);

	padding: calc($unit * 3) 0;

    border-bottom: 1px solid color($grey-7 lightness(+55%));

	&__price {
		font-weight: $type-weight-medium;
		color: $color-text;
	}

	&__count {
		min-width: 50%;
		max-width: 50%;

		& .form__group__label {
			margin-bottom: $unit;
			line-height: 1;
		}
	}
}
