/*------------------------------------*\
    # components.treeview
\*------------------------------------*/

.treeview {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__search {
        display: block;
        width: 100%;

        margin-top: $unit;
        padding: calc($unit * 2);
        padding-right: calc($unit * 5);
        
        border: none;
        border-bottom: 1px solid $grey-3;
        border-radius: 0;

        transition: all 300ms ease-in-out;
        
        &:focus {
            border-color: $color-tertiary;
            outline: none;
        }
        
        &__clear {
            position: absolute;
            right: $unit;
            top: 15px;
            
            color: $grey-3;
            cursor: pointer;
            transition: all 250ms ease-in-out;
            
            &:hover {
                color: $color-tertiary;
            }
        }
    }

    &__list {
        flex-grow: 1;
        
        /*firefox scrollbar*/
        scrollbar-width: thin;
    }

    &__footer {
        padding: $unit;
        border-top: 1px solid $grey-2;
    }
}