/*------------------------------------*\
    # component.search
\*------------------------------------*/

.search {

    &__filter {
        position: fixed;
        top: $header-height;
        bottom: 0;
        left: $aside-width;
        width: 308px;
        
        padding: calc($unit * 3.5) calc($unit * 4);
        
        background-color: color($color-background blackness(+3%));
        border-right: 1px solid $grey-2;
        
        overflow-y: auto;
        
        &--notifications {
            width: 340px;
        }

        &__btn {
            cursor: pointer;
            display: flex;
            align-items: center;

            .search__filter__btn__text {

                @media(--screen-to-med) {
                    display: none;
                }
            }

            .search__filter__btn__icon {

                @media(--screen-from-med) {
                    display: none;
                }
            }
        }
    }
    
    &__result {
        position: relative;
        display: flex;
        flex-direction: column;

        height: 100%;
        max-height: 100%;

        margin-left: 300px;

        &--notifications {
            margin-left: 340px;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        padding: $unit calc($unit * 2) $unit 0;
        border: 1px solid color(white blackness(+30%));
        border-radius: $radius-base;
        max-width: 650px;
        background-color: white;

        @media(--screen-from-med) {
            padding: $unit calc($unit * 4) $unit $unit;
        }

        &__item {
            margin-right: $unit;

            @media(--screen-from-med) {
                margin-right: calc($unit * 2);
            }
        }
    }

    &__input {

        &--noborder {
            border: 0px !important;
        }
    }

}