/*------------------------------------*\
    # component.dashboard-card
\*------------------------------------*/

.dashboard-card {
	display: flex;
	flex-direction: column;
	height: 535px;
	padding: calc($unit * 6) calc($unit * 6);
	padding-bottom: calc($unit * 2);

	border-radius: $radius-base;
	background-color: $white;
	box-shadow: $shadow-card;

	&--secondary {
		height: 450px;
		justify-content: space-between;
		padding: calc($unit * 6) calc($unit * 6);
	}

	@media (--screen-to-xlrg) {
		height: 100%;

		& .remove--sml {
			display: none;
		}
	}

	@media (--screen-to-med) {
		padding: calc($unit * 3) calc($unit * 3);
	}

	&__body {
		text-align: center;
		margin-bottom: calc($unit * 6);

		@media (--screen-to-xlrg) {
			margin-bottom: calc($unit * 2);
		}

		&--amount {
			@mixin type-scale $type-huge, 3.5;
			margin-bottom: calc($unit * 2);
			color: $color-text;
			font-weight: $type-weight-extra-bold;

			@media (--screen-to-lrg) {
				@mixin type-scale $type-xxxlarge, 2;
				margin-bottom: 0;
			}

			&--secondary {
				@mixin type-scale $type-xxxlarge, 2.3;
				margin-bottom: calc($unit * 2);
				color: $color-text;

				@media (--screen-to-lrg) {
					margin-bottom: 0;
				}
			}
		}

		&--title {
			margin-bottom: calc($unit * 10);

			color: $bali-hai;
			text-transform: uppercase;
			font-weight: $type-weight-medium;
			font-size: 16px;

			@media (--screen-to-lrg) {
				margin-bottom: calc($unit * 8);
			}

			@media (--screen-to-med) {
				margin-bottom: calc($unit * 4);
			}
		}
	}

	&__title {
		@media (--screen-to-sml) {
			text-align: center;
		}

		&--ordered {
			order: 1;

			@media (--screen-to-sml) {
				order: 1;
			}
		}
	}

	&__separator {
		order: 3;
	}

	&__chart {
		order: 2;

		@media (--screen-from-med) {
			order: 4;
		}
	}

	&__giving-goal {
		position: relative;
		width: 100%;
		margin-bottom: $unit;
		order: 4;

		@media (--screen-from-sml) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			order: 2;
		}

		&--goal {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			color: $color-text;
		}

		&__label {
			@media (--screen-to-sml) {
				margin-bottom: calc($unit * 2);
				text-align: center;
				visibility: hidden;
			}
		}

		&__income {
			position: absolute;
			right: 5%;
			top: -36px;

			font-weight: $type-weight-bold;
			@mixin type-scale $type-base, 1;

			@media (--screen-from-med) {
				@mixin type-scale $type-xmedium, 1.25;
			}
		}

		&--range {
			position: relative;
			min-height: 54px;
			height: 100%;
			padding: $unit;

			border-radius: $radius-full;
			background-color: $color-background;
			border: 1px solid color($color-text a(30%));

			flex-grow: 2;

			@media (--screen-to-med) {
				width: 100%;
			}

			@media (--screen-from-med) {
				margin-left: calc($unit * 2);
				margin-right: calc($unit * 2);
			}

			&--progress {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: calc($unit / 2) calc($unit * 3);

				border-top-left-radius: $radius-full;
				border-bottom-left-radius: $radius-full;
				background-color: $color-text;
				color: $white;
				font-weight: $type-weight-medium;

				&--rounded {
					border-top-right-radius: $radius-full;
					border-bottom-right-radius: $radius-full;
				}
			}
		}
	}

	&--emptystate {
		background-color: $white;
		border-radius: calc($unit * 1);
		padding: calc($unit * 7) calc($unit * 7);
		padding-bottom: calc($unit * 5);
		margin-bottom: calc($unit * 4);

		&__body {
			padding: calc($unit * 8) 0;
			text-align: center;

			&--title {
				@mixin type-scale $type-medium, 1.25;
				margin-bottom: calc($unit * 2);
				color: $color-text;
				font-weight: $type-weight-bold;

				@media (--screen-from-med) {
					@mixin type-scale $type-large, 1.5;
					margin-bottom: calc($unit * 4);
				}
			}

			&--info {
				margin-bottom: calc($unit * 8);
				color: $color-opaque;
				@mixin type-scale $type-base, 1;
				font-weight: $type-weight-semi-bold;
			}

			& .btn {
				width: 100%;
				max-width: 283px;
				padding: 0 calc($unit * 4);

				@mixin type-scale $type-base, 1;
			}
		}
	}
}
