/*------------------------------------*\
    # component.info-card
\*------------------------------------*/

.info-card {
	&--scale {
		padding: calc($unit * 4) 0;
		cursor: pointer;
		transition: all 250ms ease-out;

		&:hover {
			padding: calc($unit * 4);
			background-color: $white;
			border-radius: $radius-base;
			box-shadow: $shadow-card;
		}
	}

	&--footer {
		width: 100%;
		text-align: right;
		margin-top: calc($unit * 3);

		& .btn {
			&:first-child {
				margin-right: 12px;
			}
		}

		@media (--screen-to-med) {
			align-items: center;
			justify-content: center;
			display: flex;

			& .btn {
				min-width: 48%;

				&:first-child {
					margin-right: 2%;
				}
			}
		}
	}
}
