/*------------------------------------*\
    # component.nav
\*------------------------------------*/

.nav {
    &--primary { 
        position: relative;

        &__close {
            position: absolute;
            top: calc($unit * 2);
            right: calc($unit * 2);

            @media (--screen-from-sml) {
                display: none;
            }
        }

        @media (--screen-to-sml) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-tertiary;
            z-index: 10;

            padding: calc($unit * 8) 0 calc($unit * 6) 0;

            opacity: 0;
            visibility: hidden;

            transition: opacity 250ms ease-in-out;

            &.is-open {
                opacity: 1;
                visibility: visible;
            }
        }

        &__icon {
            margin-left: auto;

            &--collapsed {
                margin: 0 auto;
            }
        }

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $header-height;
            border-bottom: 1px solid color($scandal a(20%));
        }

        &__item {
            position: relative;
            display: flex;
            align-items: center;
            padding: calc($unit * 3) calc($unit * 3);

            border-bottom: 1px solid color($scandal a(20%));
            font-weight: $type-weight-regular;
            color: color($white a(50%));
            transition: color, background-color 250ms ease-out;
            cursor: pointer;
            

            &--logout {
                position: absolute;
                right: calc($unit * 1);
                left: calc($unit * 1);
                bottom: calc(-$unit * 12);
                
                display: flex;
                justify-content: center;
                padding: calc($unit * 2) calc($unit * 1);
                
                color: color($white a(80%));     
                
                border: 1px solid color($scandal a(20%));
                border-radius: calc($unit / 1.6);  
                cursor: pointer;
                transition: all 250ms ease-out;

                &:hover {
                    color: color($color-note a(70%));  
                    border-color: color($color-note a(70%));  

                    & .u-icon--logout {
                        background-image: svg-load('../styles/postcss-svg/logout.svg', stroke: $color-note);
                    }
                }

                @media (--screen-to-sml) {
                    position: relative;
                    bottom: calc(-$unit * 4);
                } 
            }

            &--menu {
                position: absolute;
                right: 0;
                bottom: calc(-$unit * 27);
                
                display: flex;
                padding: calc($unit * 3) calc($unit * 1);
                
                border-top-left-radius: calc($unit * 1);
                border-bottom-left-radius: calc($unit * 1);
                background-color: $lavander;
                cursor: pointer;

                @media (--screen-to-sml) {
                    bottom: calc($unit * 56);
                } 
            }

            &.active {
                color: $white;
                background-color: $smalt-blue;
            }

            &:hover {
                & .nav--secondary__text {
                    color: color($white a(100%));
                }
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 5px;
                background-color: transparent;
            }

            .u-icon {
                &--give {
                    background-image: svg-load('postcss-svg/give.svg', stroke: color($white a(60%))); 
                }

                &--dashboard {
                    background-image: svg-load('postcss-svg/dashboard.svg', stroke: color($white a(60%))); 
                }

                &--administration {
                    background-image: svg-load('postcss-svg/cog.svg', stroke: color($white a(60%)));
                }

                &--profile {
                    background-image: svg-load('postcss-svg/profile.svg', stroke: color($white a(60%)));
                }

                &--activity {
                    background-image: svg-load('postcss-svg/activity.svg', stroke: color($white a(60%)));
                }

                &--booklet {
                    background-image: svg-load('postcss-svg/booklets.svg', stroke: color($white a(60%)));
                }

                &--booklet-order {
                    background-image: svg-load('postcss-svg/booklet-order.svg', stroke: color($white a(60%)));
                }

                &--investment {
                    background-image: svg-load('postcss-svg/investment.svg', stroke: color($white a(60%)));
                }

                &--donors {
                    background-image: svg-load('postcss-svg/donors.svg', stroke: color($white a(60%)));
                }
                
                &--users {
                    background-image: svg-load('postcss-svg/users.svg', stroke: color($white a(60%)));
                }

                &--charities {
                    background-image: svg-load('postcss-svg/charities.svg', stroke: color($white a(60%)));
                }
                
                &--third-party-website {
                    background-image: svg-load('postcss-svg/third-party-website.svg', stroke: color($white a(60%)));
                }

                &--contribution {
                    background-image: svg-load('postcss-svg/contribution.svg', stroke: color($white a(60%)));
                }

                &--contribution-settings {
                    background-image: svg-load('postcss-svg/contribution.svg', stroke: color($white a(60%)));
                }

                &--donations {
                    background-image: svg-load('postcss-svg/donations.svg', stroke: color($white a(60%)));
                }

                &--grant {
                    background-image: svg-load('postcss-svg/grant.svg', stroke: color($white a(60%)));
                }

                &--scheduled-grant {
                    background-image: svg-load('postcss-svg/grant.svg', stroke: color($white a(60%)));
                }

                &--transfer {
                    background-image: svg-load('postcss-svg/transfer.svg', stroke: color($white a(60%)));
                }
               
                &--test {
                    background-image: svg-load('postcss-svg/test.svg', stroke: color($white a(60%)));
                }

                &--sessions {
                    background-image: svg-load('postcss-svg/sessions.svg', stroke: color($white a(60%)));
                }
               
                &--reconcile {
                    background-image: svg-load('postcss-svg/reconcile.svg', stroke: color($white a(60%)));
                }
                
                &--fidelity-cards {
                    background-image: svg-load('postcss-svg/fidelity-cards.svg', stroke: color($white a(60%)));
                }
                
                &--banks {
                    background-image: svg-load('postcss-svg/banks.svg', stroke: color($white a(60%)));
                }
              
                &--default-settings {
                    background-image: svg-load('postcss-svg/default-settings.svg', stroke: color($white a(60%)));
                }
            } 

            &:hover,
            &:focus,
            &:active,
            &.active,
            &.selected {
                color: $color-primary;
                background-color: color($white a(10%));
                
                &:before {
                    background-color: $scandal;
                }

                .u-icon {
                    &--give {
                        background-image: svg-load('postcss-svg/give.svg', stroke: color($color-note a(100%))); 
                    }
    
                    &--dashboard {
                        background-image: svg-load('postcss-svg/dashboard.svg', stroke: color($color-note a(100%))); 
                    }
    
                    &--administration {
                        background-image: svg-load('postcss-svg/cog.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--profile {
                        background-image: svg-load('postcss-svg/profile.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--activity {
                        background-image: svg-load('postcss-svg/activity.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--booklet {
                        background-image: svg-load('postcss-svg/booklets.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--booklet-order {
                        background-image: svg-load('postcss-svg/booklet-order.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--investment {
                        background-image: svg-load('postcss-svg/investment.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--donors {
                        background-image: svg-load('postcss-svg/donors.svg', stroke: color($color-note a(100%)));
                    }
                    
                    &--users {
                        background-image: svg-load('postcss-svg/users.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--charities {
                        background-image: svg-load('postcss-svg/charities.svg', stroke: color($color-note a(100%)));
                    }
                    
                    &--third-party-website {
                        background-image: svg-load('postcss-svg/third-party-website.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--contribution {
                        background-image: svg-load('postcss-svg/contribution.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--contribution-settings {
                        background-image: svg-load('postcss-svg/contribution.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--donations {
                        background-image: svg-load('postcss-svg/donations.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--grant {
                        background-image: svg-load('postcss-svg/grant.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--scheduled-grant {
                        background-image: svg-load('postcss-svg/grant.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--transfer {
                        background-image: svg-load('postcss-svg/transfer.svg', stroke: color($color-note a(100%)));
                    }
                   
                    &--test {
                        background-image: svg-load('postcss-svg/test.svg', stroke: color($color-note a(100%)));
                    }
    
                    &--sessions {
                        background-image: svg-load('postcss-svg/sessions.svg', stroke: color($color-note a(100%)));
                    }
                   
                    &--reconcile {
                        background-image: svg-load('postcss-svg/reconcile.svg', stroke: color($color-note a(100%)));
                    }
                    
                    &--fidelity-cards {
                        background-image: svg-load('postcss-svg/fidelity-cards.svg', stroke: color($color-note a(100%)));
                    }
                    
                    &--banks {
                        background-image: svg-load('postcss-svg/banks.svg', stroke: color($color-note a(100%)));
                    }
                  
                    &--default-settings {
                        background-image: svg-load('postcss-svg/default-settings.svg', stroke: color($color-note a(100%)));
                    }
                }

            }
        }

        &__collapse {
            margin: 0 auto;
            text-align: center;
            cursor: pointer;

            position: absolute;
            bottom: calc($unit * 4);
            left: 0;
            right: 0;

            i {
                transform: rotate(180deg);
            }
        }
    }

    &--secondary { 

        &__text {
            position: relative;
            display: block;

            font-weight: $type-weight-regular;
            color: color($white a(50%));
            transition: color, background-color 250ms ease-out;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active,
            &.active {
                color: color($white a(100%));
            }
        }

        &__item {
            margin-left: calc($unit * 1);
            padding: calc($unit * 2) 0 calc($unit * 2) calc($unit * 8);
            
            @mixin type-scale $type-xsmall, 1;
            
            color: color($white a(75%));
            
            border-bottom: 1px solid color($white a(10%));
            background-color: color($smalt-blue a(20%));
            
            cursor: pointer;

            transition: all 250ms ease-out;

            &:hover {
                color: $white;
                background-color: color($smalt-blue a(35%));
            }

            &.active {
                color: $white;
                background-color: $smalt-blue;
            }
        }
    }

    &--tertiary {

        &__back {
            position: absolute;
            top: calc($unit * 4);
            left: calc($unit * 4);

            @media (--screen-from-sml) {
                display: none;
            }
        }

        @media (--screen-to-sml) {
            padding: calc($unit * 12) 0 calc($unit * 6) 0;
        }

        &__item {
            position: relative;
            display: block;
            padding: calc($unit * 2) calc($unit * 4) calc($unit * 2) calc($unit * 4);

            font-weight: $type-weight-regular;
            color: color($white a(50%));
            transition: color, background-color 250ms ease-out;
            cursor: pointer;

            @media (--screen-from-sml) {
                padding: calc($unit * 2) calc($unit * 4) calc($unit * 2) calc($unit * 8);
            }

            &:hover,
            &:focus,
            &:active,
            &.active {
                color: $color-primary;
                background-color: color($white a(10%));
            }
        }
    }
}

.is-collapsed {

    .nav--primary__collapse {

        i {
            transform: rotate(0deg);
        }

        &[aria-label-expand]:hover:after {

            @media (--screen-from-sml) {
                @mixin type-scale $type-small, 1;
                content: attr(aria-label-expand);
                position: absolute;
                right: 0;
                top: calc(50% - $unit * 3);
                padding: $unit;
                display: block;
                background-color: black;
                color: white;
                white-space: nowrap;
                transform: translateX(90%);
                border-radius: $radius-base;
            }
        }
    }

    .nav--primary__icon {
        /*position: absolute;
        top: calc($unit * 2);
        right: $unit;*/
        display: none;
    }
}