/*------------------------------------*\
    # modules.animations
\*------------------------------------*/

/*
    animation for focused state on input
*/
@keyframes shadow {
  from {
    box-shadow: 0 0 15px -3px #00a1ff;
  }

  to {
    box-shadow: 0 0 15px -5px #00a1ff;
  }
}

/*
    animation for loading state on buttons
*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}
