/*------------------------------------*\
    # modules.tabs
\*------------------------------------*/

.tabs {
    &--primary {
        margin: -$unit calc($unit * -2);

        &__item {
            position: relative;
            display: inline-block;
            padding: calc($spacer / 2) $spacer;

            color: $grey-4;
            letter-spacing: 0.7px;
            font-weight: $type-weight-medium;
            transition: all 200ms ease-in-out;
            cursor: pointer;

            &:hover {
                color: $color-tertiary;

                &:after {
                    content: '';
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    
                    display: block;
                    height: calc($unit / 2);
                    
                    background-color: $color-tertiary;
                }
            }
            
            &.active {
                font-weight: $type-weight-medium;
                color: $white;
                background-color: $color-tertiary;
            }
        }
    }
}
