/*------------------------------------*\
    # modules.layout
\*------------------------------------*/

.layout {
    &__header {
        z-index: 12;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        
        width: 100%;
        height: $header;
        padding: calc($unit * 1.5);

        background-color: $color-secondary;
    }

    &__nav {
        &--primary {
            z-index: 10;
            
            position: fixed;
            top: $header;
            bottom: 0;
            left: 0;
            
            width: $aside-primary;
            overflow-y: auto;
                
            background-color: $color-secondary;
            color: $grey-4;

            /*firefox scrollbar*/
            scrollbar-width: thin;

            &__item {
                padding: calc($unit * 2);
                
                text-align: center;
                cursor: pointer;
                transition: all 200ms ease-out;
                color: color($white a(75%));


                &:hover {
                    background-color: $color-secondary;
                    color: $color-quaternary;
                }

                &.active {
                    background-color: $color-secondary;
                    color: $color-quaternary;
                }
                /*icon font*/
                .icomoon {
                    vertical-align: middle;
                }
            }
        }

        /*navigation with list items (secound level, pinnable)*/
        &--secondary {
            z-index: 9;
            
            position: fixed;
            top: $header;
            left: calc($aside-primary - $aside-secondary);
            bottom: 0;
            
            width: $aside-secondary;

            background-color: $color-secondary-light;
            overflow-y: auto;

            transition: all 300ms ease-in-out;

            /*firefox scrollbar*/
            scrollbar-width: thin;
            
            &.active {
                left: $aside-primary;
            }

            &__item {
                display: block;
                padding: calc($unit * 1.2) calc($unit * 2);
                border-bottom: 1px solid color($color-secondary-light lightness(+10%));

                @mixin type-scale $type-small, 1;
                color: color($white a(75%));
                cursor: pointer;
                
                transition: all 300ms ease-out;
                
                &:hover,
                &:focus {
                    color: $color-quaternary;
                    background-color: $color-secondary-light;
                }

                &.active {
                    color: $color-quaternary;
                }

                &.selected {
                    background-color: color($color-secondary lightness(+5%));
                    color: $color-quaternary;
                }

                /*This selector must be deleted after all screens are implemented*/
                &.disabled {
                    cursor: not-allowed;
                    color: color($white a(35%));

                    &:hover {
                        color: color($white a(35%));
                    }

                    &.active {
                        color: color($white a(35%));
                    }

                    &.selected {
                        background-color: $color-secondary-light
                    }
                }
            }

            &__title {
                display: block;
                padding: calc($unit * 1) calc($unit * 2);

                @mixin type-scale $type-small, 1;
                font-weight: $type-weight-semibold;
                color: color($white a(75%));
                background-color: $color-secondary;
            }
        }

        &--tertiary {
            z-index: 11;
            
            position: fixed;
            top: $header;
            left: calc($aside-primary + $aside-secondary);
            bottom: 0;

            width: $aside-tertiary;

            background-color: color($color-secondary lightness(+5%));
            color: $color-text;
            visibility: hidden;
            opacity: 0;
            overflow-y: auto;
            
            transform: translateX(calc(-$unit * 6));
            transition: all 200ms ease-out;

            /*firefox scrollbar*/
            scrollbar-width: thin;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }

            &__item {
                display: block;
                padding: calc($unit * 1.2) calc($unit * 2);
                border-bottom: 1px solid color($color-secondary lightness(+15%));

                @mixin type-scale $type-small, 1;
                color: color($white a(75%));
                cursor: pointer;
                transition: all 200ms ease-out;

                &:hover,
                &:active,
                &:focus {
                    color: $color-quaternary;
                }

                &.active {
                    color: $color-quaternary;
                }
            }
        }
    }
  
    &__aside {
        position: fixed;
        top: $header;
        right: 0;
        bottom: 0;
        
        width: $aside-notifications;
    }
    
    &__content {
        position: fixed;
        left: $aside-primary;
        top: $header;
        bottom: 0;
        right: $aside-notifications;
        
        overflow-y: auto;
        transition: all 300ms ease-in-out;
        
        &.active {
            left: calc($aside-primary + $aside-secondary);
        }
    }
    
    &--error {
        height: 100vh;
        padding-top: 10vh;
        
        background-color: $grey-1;
    }
}