/*------------------------------------*\
    # modules.notifications
\*------------------------------------*/

.notification {
  &__bar {
    background-color: $color-secondary-light;
    height: calc(100vh - $header);
    box-shadow: -1px -1px 12px 4px color($grey-3 a(0.5));

    &__item {
      position: relative;
      padding: $unit calc($unit / 1.5);

      color: #ffffff;
      font-size: 18px;
      text-align: center;

      cursor: pointer;
      transition: all 250ms ease-in-out;

      &:hover,
      &.active {
        color: $color-quaternary;
        background-color: $color-secondary;
      }
    }

    &__number {
      position: absolute;
      right: 8px;
      top: calc($unit * 3);

      width: calc($unit * 3);
      height: calc($unit * 3);

      /*fixed font size*/
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      font-weight: $type-weight-medium;
      color: $color-text;

      background-color: $color-primary;
      border-radius: $global-rounded;
      border: 1px solid #ffffff;
    }
  }

  &__sidebar {
    z-index: -1;
    position: fixed;
    top: $header;
    right: calc(-$aside-notifications - $aside-notification-sidebar);

    width: $aside-notification-sidebar;
    height: calc(100vh - $header);
    padding: $spacer;
    border-right: 1px solid $grey-2;
    overflow-y: auto;

    background-color: $white;
    box-shadow: -3px 0 5px -4px $grey-4;
    transition: all 300ms ease-in-out;

    &.active {
      right: $aside-notifications;
    }

    &__item {
      margin-bottom: $unit;
      padding-bottom: $unit;
      border-bottom: 1px solid $grey-2;

      .right {
        display: inline-block;
        width: calc(100% - 30px);
        .btn {
          margin-top: 2px;
        }
      }

      .left {
        width: calc($unit * 5);
        display: inline-block;
        margin-top: $unit;
        vertical-align: top;
      }
    }
  }
}
