/*------------------------------------*\
    # modules.table
\*------------------------------------*/

.table {
    border-collapse: collapse;
    table-layout: fixed;

    th, td {
        word-break: break-all;
    }

    &__icons {
        float: right;
        width: 90px;
    }

    &__head {
        border-bottom: 2px solid $grey-3;

        &--data {
            padding: $unit calc($unit * 2);
            
            color: $color-text-dark;
            opacity: 0.9;
            font-weight: $type-weight-semibold;
            text-align: left;
            letter-spacing: 1px;
            text-transform: uppercase;

            /*alignment*/
            &.center {
                text-align: center;
            }

            &.right {
                text-align: right;
            }
        }
    }

    &__body {
        &--data {
            padding: calc($unit * 1.5) calc($unit * 2);
            
            /*alignment*/
            &.center {
                text-align: center;
            }

            &.right {
                text-align: right;
            }

            .icomoon {
                color: $grey-6;
                transition: all 250ms ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $color-primary;
                }
            }
        }
        
        tr {
            border-bottom: $unit solid $white;
            
            color: $color-text-dark;
            background-color: $grey-1;
            
            cursor: pointer;
            transition: all 250ms ease-in-out;

            &:last-child {
                border: none;
            }

            &:hover {
                background-color: color($grey-2 blackness(+10%));
            }
        }
    }
}