/*------------------------------------*\
    # modules.field
\*------------------------------------*/

.field {
  margin-bottom: $unit;

  label {
    display: block;
    margin-bottom: calc($unit / 2);
  }

  &--inline {
    margin-bottom: $unit;

    label {
      display: inline-block;
    }

    .input {
      display: inline-block;
    }
  }
}
