/*------------------------------------*\
    # modules.list
\*------------------------------------*/

.list {
    &--primary {
        /*make minimal width because of collapsing simbling*/
        min-width: 300px;
        
        &__item {
            padding: $unit;
            border-bottom: 1px solid $grey-2;
            
            cursor: pointer;
            word-break: break-all;
            
            transition: all 250ms ease-out;

            &:hover {
                background-color: $grey-1;
            }

            &:last-child {
                border: none;
            }

            &.active {
                background-color: $color-secondary-light;
                color: $white;
                font-weight: $type-weight-medium;
            }
        }
    }

    &--bulleted {
        list-style-type: disc;
        padding-left: calc($unit * 3);

        &__item {
            margin-bottom: $unit;
        }
    }
}