/*------------------------------------*\
    # modules.listbox
\*------------------------------------*/
.listbox {
  display: flex;
  flex-direction: row;

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc($unit * 2);

    .icomoon {
      display: inline-block;

      margin: $unit 0;
      font-size: 28px;
      color: $grey-4;
      cursor: pointer;

      transition: all 250ms ease-in-out;

      &:hover {
        color: $color-tertiary;
      }
    }
  }

  /*override color of header*/
  .k-widget .k-grid-header-wrap {
    background-color: $lavender;
  }
}
