/*------------------------------------*\
    # plugins.fontface
\*------------------------------------*/

/*https://fonts.google.com/specimen/Work+Sans - edit styles*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');