/*------------------------------------*\
    # plugins.kendo-inputs
\*------------------------------------*/

/*make all inputs 100% width*/
.k-autocomplete, .k-daterangepicker-wrap, .k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-dropdowntree, .k-maskedtextbox, .k-multiselect, .k-numerictextbox, .k-timepicker, .k-textbox-container {
    width: 100%;
}

/*Dropdown scroll list*/
.k-list-scroller .k-item {
    /*fixing dropdown on language select*/
    img {
        margin-right: 4px;
        vertical-align: baseline;
    }

    /*Searched items will be focused*/
    &.k-state-focused {
        background-color: rgb(221, 230, 238) !important;
    }
}

/*make style for language selection dropdown in header*/
.k-dropdown {
    
    &.k-header {
        width: calc($unit * 17);
        border-bottom: 0px;
    }
    .k-input {
        font-size: 16px;
    }
    &.language-select {
        width: 120px;

        .k-dropdown-wrap {
            padding: $unit 0;
            border-radius: $radius-base;

            color: $grey-2;
            background-image: none;
            background-color: $color-secondary;
            
            transition: all 250ms ease-out;

            &:hover {
                background-color: color($color-secondary blackness(+10%));
            }

            .k-input {
                color: $grey-2;


                img {
                    display: inline-block;
                    min-width: 19px;
                    margin-right: 3px;
                }
            }
        }
    }

    /*timezone dropdown in header*/
    &.time-zone {
        width: 170px;

        .k-dropdown-wrap {
            padding: $unit 0;
            border-radius: $radius-base;

            color: $grey-2;
            background-image: none;
            background-color: transparent;

            
            transition: all 250ms ease-out;

            .k-input {
                color: $grey-2;
            }
        }
    }

    /*override input elements to be consistent with app*/
    &.input--dropdown {
        /*make input dropdown border to be in $color-warning color*/
        & .input--warning {
            border-color: $color-warning !important;
        }

        &.input--warning {
            & + span.k-label {
                color: $color-warning;
                opacity: 0.5;
            }
            .k-dropdown-wrap {
                border-color: $color-warning;
            }
        }

        .k-dropdown-wrap {
            padding: 3px;
            border: 1px solid $grey-3;
            border-radius: $radius-base;

            background-color: white;
            background-image: none;

            &.k-state-focused {
                border: 1px solid $color-primary;
                box-shadow: none;
                outline: 0;
                
                animation: shadow 1s alternate infinite;
            }
            
            .k-input {
                color: black;
            }
        }

        & + .k-label {
            color: $grey-4
        }
    }
}

/*in dropdown hovered and selected item (changed color)*/

.k-list .k-item:hover {
    background-color: color($color-primary a(10%)); 
}


.k-list .k-item.k-state-selected, 
.k-list .k-item:hover.k-state-selected, 
.k-list-optionlabel.k-state-selected, 
.k-list-optionlabel:hover.k-state-selected {
    background-color: color($color-primary a(25%));
    color: $color-text;
}

/*version switch in header override*/
.k-switch {
    width: calc($unit * 11);
}

.version-switch {
    .k-widget.k-switch {
        background-color: $color-secondary;

        .k-switch-container {
            background-color: $color-secondary;

            .k-switch-label-on {
                top: 16px;
                left: 7px;
                color: white;
            }

            .k-switch-label-off {
                top: 16px;
                right: 11px;
                color: white;
            }
        }
    }

    & .k-switch-on {
        & .k-switch-handle {
            background-color: $color-secondary;
            border-color: $color-secondary;
        }
    }
}

/*Make all multiselect consistant with other inputs*/
.k-multiselect {
    /*Custom style*/
    &.input--multiselect {
        .k-multiselect-wrap {
            padding: calc($unit / 2);
            /*spacing for clear button*/
            padding-right: 22px;
            border: 1px solid $grey-3;
            border-radius: $radius-base;

            .k-clear-value {
                top: 7px;
            }
        }

        &.k-state-focused {
            outline: 0;
            box-shadow: none;
            animation: shadow 1s alternate infinite;

            .k-multiselect-wrap {
                border: 1px solid $grey-3;
            }
        }

        /*placeholder in kendo multiselect component*/
        & + .k-label {
            color: $grey-4 !important;
            top: 9px;
        }

        &.input--warning {
            .k-multiselect-wrap {
                border-color: $color-warning;
            }

            & + .k-label {
                color: $color-warning !important;
                opacity: 0.5 !important;
            }
        }
    }
}

/*  
    Datepicker
        -Make style for datepicker to look like dropdown or text input 
*/
.k-datepicker {
    .k-picker-wrap {
        border: 1px solid $grey-3;
        border-radius: $radius-base;

        &.k-state-focused {
            border: 1px solid $grey-3;
        }

        .k-dateinput .k-dateinput-wrap .k-input, 
        .k-input {
            height: unset;
            padding: 7px;
            padding-right: 24px;
        }
    }
    
    .k-select {
        background-color: white;
        background-image: none;
    }

    &:hover {
        .k-select {
            background-color: white;
            background-image: none;
        }
    }

    /*validation of datepicker, apply warning style to kendo datepicker*/
    &.input--warning {
        .k-picker-wrap {
            border-color: $color-warning;
            /*input placeholder*/
            .k-dateinput .k-dateinput-wrap .k-input {
                color: $color-warning;
            }

            /*input icon*/
            .k-select {
                background-color: $color-primary;

                .k-icon {
                    color: $color-primary;
                } 
            } 
        }
    }
}

/*in datepicker calnedar make box-shadow color consistent*/
.k-calendar-container {
    .k-calendar-navigation:after, 
    .k-calendar-navigation:before {
        box-shadow: none;
    }
}

.k-daterangepicker {
    .k-dateinput-wrap {
        border: 1px solid $grey-3;
        border-radius: $radius-base;

        &.k-state-focused {
            border: 1px solid $grey-3;
        }

        .k-dateinput .k-dateinput-wrap .k-input,  
        .k-input {
            height: unset;
            padding: 8px;
        }
    }

    .k-select {
        background-color: $color-primary;
        background-image: none;
    }

    &:hover {
        .k-select {
            background-image: none;
            background-color: $color-primary;
        }
    }
    /*width of inputs*/
    .k-daterangepicker-wrap {
        .display--ib {
            &:nth-child(1) {
                padding-right: 6px;
                width: calc(50% - 4px);
            }

            & ~ .display--ib {
                padding-left: 6px;
                width: 50%;
            }

            .k-dateinput.input--warning .k-dateinput-wrap {
                border-color: $color-warning;
            }
        }
    }
}

/*make boxshadow in datepicker match theme colors*/
.k-calendar-navigation:after, 
.k-calendar-navigation:before {
    background-color: color($color-tertiary lightness(+30%));
}

.k-calendar {
    .k-calendar-navigation {
        background-color: color($color-tertiary lightness(+40%));
        background-color: $grey-2;
    }

    .k-state-selected {
        .k-link {
            border-color: color($color-tertiary blackness(+10%));
            background-color: $color-tertiary;
        }
    }
}

/*
    Range picker style
*/
/*start date and end date background color*/
.k-calendar.k-calendar-range .k-range-end .k-link, 
.k-calendar.k-calendar-range .k-range-start .k-link {
    background-color: $color-tertiary;
}

/*make half transparent color for mid dates between start and end date*/
.k-calendar.k-calendar-range .k-range-mid {
    background-image: none;
    background-color: #cfefff; /*light blue*/
}

/*hide additional colors*/
.k-calendar.k-calendar-range .k-range-end, 
.k-calendar.k-calendar-range .k-range-start {
    background-image: none;
}

/*today's day highligted in app color*/
.k-calendar .k-content .k-today, 
.k-calendar .k-calendar-header .k-today, 
.k-calendar .k-footer .k-nav-today {
    color: $color-tertiary;
}

/*transition between 2 months (small after element with linear-gradient)*/
.k-calendar.k-calendar-range .k-range-split-start:after,
.k-calendar.k-calendar-range .k-range-split-end:after {
    background-image: linear-gradient(270deg,rgba(218, 218, 218, 0.25),transparent);
}

/*
    make floating labele disabled
        - remove all transforms and add display property on focus state
        - make placeholder stay when input is empty (without value)
*/
.k-textbox-container {
    &.k-state-empty > .k-label {
        display: block;
    }

    &.k-state-focused > .k-label {
        transform: none;
        display: none;
    }

    span.k-label {
        display: none;
    }
}
/*remove padding above input which was used for label motion*/
.k-textbox-container {
    padding-top: 0;
}
/* fix position of placeholder in input*/
.k-textbox-container > .k-label {
    top: calc(1.07143em - 10px);
}

/*
    dropdown width and scroll fix in header
*/
.k-list-container.w--auto {
    width: auto !important;
}

.k-list-container {
    
    .k-item {
        font-size: 16px;
    }
}

/*
    Dropdown in header for company/application selection
        -makes label of the application stand out
*/
.k-list-scroller .k-list .k-item > div span:first-child {
    font-weight: $type-weight-bold;
}

/*
    Number input arrows
        -on hover make background-color distinctive
        -consistent style for all inputs (input--numeric)
*/
.k-numerictextbox {

    &.input--warning .k-numeric-wrap {
        border-color: $color-warning;
    }

    /*one arrow wrapper*/
    .k-link.k-link-increase,
    .k-link.k-link-decrease {
        &:hover {
            background-color: $color-tertiary;
            
            .k-icon.k-i-arrow-n::before,
            .k-icon.k-i-arrow-s::before {
                color: white;
            }
        }
    }

    &.input--numeric {
        &.input--warning .k-numeric-wrap {
            border-color: $color-warning;
        }
        .k-numeric-wrap {
            padding: 3px;
            border-color: $grey-3;
        }
    }
}

/*
    number input inline (organizational structure limits)
*/

.k-input {
    &--inline {
        max-width: 300px;

        .k-numeric-wrap {
            border: 1px solid $grey-3;
            border-radius: $radius-base;
        }

        /*
            focused state style
                -you need to add "is-focused" class to the kendo numeric inputs dynamically, and remove it when input is't focused any more   
        */
        &.is-focused {
            box-shadow: 0 0 5px 0px $color-tertiary;
            animation: shadow 1s alternate infinite;
        }
    }
}

/*
    checkboxes override
        -changing color to match with basicCheckbox
*/
.k-checkbox {
    &:checked + .k-checkbox-label {
        &:before {
            border-color: $color-tertiary;
            background-color: $color-tertiary;
        }
    }

    /*Create focus state on kendo components*/
    &:checked:focus + .k-checkbox-label::before {
        box-shadow: 0 0 2px 1px $color-tertiary;   
    }

    & + .k-checkbox-label {
        cursor: pointer;
    }
}

.k-popup, .k-column-menu .k-menu:not(.k-context-menu), .k-menu-group, .k-menu.k-context-menu {
    background-color: white;
}