/*------------------------------------*\
    # plugins.k-dateinput
\*------------------------------------*/

.k-dateinput {

    .k-dateinput-wrap {
        width: 100%;
        height: calc($unit * 8);
        align-items: center;
        
        background-color: transparent;
        border: 1px solid $grey-2;
        
        .k-input {
            height: 100%;
            padding: 0 calc($unit * 2);
        }
    }
}