/*------------------------------------*\
    # plugins.k-dateinput
\*------------------------------------*/

.k-dateinput {

    .k-dateinput-wrap {
        width: 100%;
        height: calc($unit * 8);
        align-items: center;
        
        background-color: transparent;
        border: 1px solid color($color-text a(0.4));
        
        .k-input {
            height: 100%;
            padding: 0 calc($unit * 2);
        }

        @media (--screen-to-med) {
            height: calc($unit * 8);
            line-height: calc($unit * 8);
            @mixin type-scale $type-small, 1;
        }
    }
}