/*------------------------------------*\
    # plugin.k-datepicker
\*------------------------------------*/

.datepicker {
    &__btn {
        position: absolute;
        right: 36px;
        top: 50%;
    }
}