/*------------------------------------*\
    # plugin.k-datepicker
\*------------------------------------*/
.k-datepicker {
    width: 100%;
    height: calc($unit * 8);

    @media (--screen-to-med) {
        height: calc($unit * 8);
        line-height: calc($unit * 8);
        @mixin type-scale $type-small, 1;
    }

    &:hover {
        /* border-color: color(white blackness(+30%)); */

        .k-select {
            color: #fff;
            background-color: $color-primary;
            background-image: none;
        }
    }
    
    .k-input {
         @mixin type-scale $type-base, 1;

        background-color: white;
        border: 1px solid color($color-text a(0.4));
        border-right: 0;
        border-radius: $radius-base 0 0 $radius-base;
    
        &::placeholder {
            color: color(white blackness(+60%));
        }

        &::selection {
            background: $color-primary;
        }
    }

    /* Clear button */
    &__btn {
        position: absolute;
        top: 1px;
        right: 48px;
        bottom: 1px;
        background-color: transparent;

        &:focus {
            box-shadow: none !important;
        }
    }

    
    
    /* Focus state */
    .k-state-focused {
        outline: 0;
        border-radius: $radius-base;
        box-shadow: none;
        
        input {
            border: 1px solid $color-primary !important;
            border-right: 0 !important;
        }
    }

    /* Datepicker button */
    .k-select {
        width: calc($unit * 8);
        height: calc($unit * 8);

        background-color: white;
        background-image: none;

        border-radius: 0 $radius-base $radius-base 0;
        border: 1px solid color($color-text a(0.4));
        border-left: 0;
        transition: none;
        
        @media (--screen-to-med) {
            height: calc($unit * 8);
            line-height: calc($unit * 8);
            @mixin type-scale $type-small, 1;
        }

        &:hover {
            background-color: white;
            background-image: none;
        }
    }

    .k-state-focused {
        .k-select {
            border: 1px solid $color-primary !important;
            border-left: 0 !important;
            transition: none;
        }
    }

    .k-dateinput-wrap {
        border: 0 !important;
    }

    /* Removing outter border */
    .k-picker-wrap {
        border: 0 !important;

        &:hover {
            .k-select {
                background-color: white;
                background-image: none;
            }
        }
    }

    /* k-datepicker sizes */
    &--med {
        input {
            height: calc($unit * 6) !important;
            line-height: calc($unit * 6) !important;
            padding: 0 calc($unit * 2) !important;
            padding-right: calc($unit * 6) !important;
        }
    }

    .k-dateinput {
        
        .k-dateinput-wrap {
            border-right: 0;

            &.k-state-focused  {

                .k-input {
                    border-right: 0 !important;
                }
                
            }
        }
    }
}

/* k-calendar dropdown */
.k-calendar-container {

    /* Today button and date in calendar */
    .k-today {
        color: $color-primary !important;
    }
    
    /* Hovering calendar month list */
    .k-calendar-navigation li:hover {
        color: $color-primary !important;
    }

    /* Selected date in calendar styling */
    .k-content {
        table tbody td {
            &.k-state-selected .k-link {
                background-color: $color-primary;
                border-color: $color-primary;
            }
        }
    }
}

/* Kendo date range picker */
.k-daterangepicker {
    display: block;
    width: 100%;

    .k-daterangepicker-wrap {
        display: flex !important;
        align-items: center;
        margin-left: calc(-$grid-gutter / 4);
        margin-right: calc(-$grid-gutter / 4);
        
        margin-bottom: calc($unit * 2);

        & > span {
            font-weight: $type-weight-bold;
            display: none;
        }

        .k-dateinput .k-dateinput-wrap {
            /* border-radius: $radius-base; */
        
            .k-input {
                height: calc($unit * 6);
                line-height: calc($unit * 8);
                padding: 0 calc($unit * 2);
                /* border-radius: $radius-base; */
            }
        }
    }
}

/*
k-calendar date range
*/

/* Today button in header and footer */
.k-calendar .k-footer .k-nav-today, .k-calendar .k-calendar-header .k-today {
    color: $color-primary;
}

.k-calendar .k-footer .k-nav-today:hover, .k-calendar .k-footer .k-nav-today:focus, .k-calendar .k-calendar-header .k-today:hover, .k-calendar .k-calendar-header .k-today:focus {
    color: $color-primary;
}

/* Today in calednar grid */
.k-calendar .k-content .k-today {
    color: $color-primary;
}

/* Range */
.k-calendar.k-calendar-range .k-range-start, .k-calendar.k-calendar-range .k-range-end, .k-calendar.k-calendar-range .k-range-mid {
    background-image: none;
    background-color: color($color-primary a(.25));
}

.k-calendar.k-calendar-range .k-range-split-start:after {
    background-image: none;
}

.k-calendar.k-calendar-range .k-range-split-end:after {
    background-image: none;
}

/* Start & End date */
.k-calendar.k-calendar-range .k-range-start .k-link, .k-calendar.k-calendar-range .k-range-end .k-link {
    background-color: $color-primary;
}

.k-calendar .k-state-selected .k-link {
    border-color: $color-primary;
}

.k-datepicker .k-select {
    width: 60px;
}

.datepicker__item {
    padding: 0 calc($grid-gutter / 4);
    width: 50%;

    display: flex;
    
    &--main {
        flex-grow: 2;

        .k-dateinput-wrap {
            border-radius: 0 $radius-base $radius-base 0;
        }
    }

    &--aside {
        background-color: $color-background;
        padding: 0 calc($unit * 2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid color($color-text a(0.4));
        border-right: 0;
        margin-right: -1px;
        border-radius: $radius-base 0 0 $radius-base;
    }
}