/*------------------------------------*\
    # plugins.icomoon-sports
\*------------------------------------*/
/*
    mapping all sports to coresponding icons
*/

.icon-alpine-skiing:before, .icon-freestyle-skiing:before, .icon-winter-sports:before {
    content: "\e91c";
}
.icon-american-football:before, .icon-rugby:before, .icon-rugby-league:before {
    content: "\e926";
}
.icon-aquatics:before, .icon-pool:before, .icon-swimming:before, .icon-synchronized-swimming:before {
    content: "\e90d";
}
.icon-archery:before {
    content: "\e99b";
}
.icon-athletics:before, .icon-cross-country:before {
    content: "\e99a";
}
.icon-aussie-rules:before {
    content: "\e925";
}
.icon-badminton:before {
    content: "\e91e";
}
.icon-bandy:before, .icon-floorball:before, .icon-inline-hockey:before, .icon-rink-hockey:before {
    content: "\e92e";
}
.icon-baseball:before, .icon-pesapallo:before {
    content: "\e916";
}
.icon-basketball:before, .icon-netball:before {
    content: "\e92b";
}
.icon-basketball-3x3:before {
    content: "\e929";
}
.icon-basque-pelota:before, .icon-softball:before {
    content: "\e99f";
}
.icon-beach-handball:before, .icon-soccer:before, .icon-soccer-mythical:before, .icon-futsal:before, .icon-handball:before, .icon-indoor-soccer:before, .icon-sepak-takraw:before {
    content: "\e931";
}
.icon-beach-soccer:before {
    content: "\e930";
}
.icon-beach-tennis:before {
    content: "\e92d";
}
.icon-beach-volley:before, .icon-gaelic-football:before, .icon-volleyball:before {
    content: "\e921";
}
.icon-biathlon:before, .icon-nordic-combined:before {
    content: "\e91b";
}
.icon-bikes:before, .icon-track-cycling:before, .icon-cycling:before {
    content: "\e923";
}
.icon-bmx-racing:before {
    content: "\e998";
}
.icon-bobsleigh:before {
    content: "\e981";
}
.icon-bowls:before {
    content: "\e994";
}
.icon-boxing:before {
    content: "\e919";
}
.icon-call-of-duty:before, .icon-counter-strike:before, .icon-rocket-league:before, .icon-smite:before, .icon-rainbow-six:before, .icon-overwatch:before, .icon-world-of-tanks:before, .icon-halo:before, .icon-league-of-legends:before, .icon-war-craft-III:before, .icon-vainglory:before, .icon-hearthstone:before, .icon-heroes-of-the-storm:before, .icon-street-fighter-v:before, .icon-crossfire:before, .icon-star-craft:before, .icon-dota2:before, .icon-e-sport:before, .icon-e-sport-arena-of-valor:before, .icon-e-sport-artifact:before, .icon-e-sport-clash-royale:before, .icon-e-sport-dragon-ball-fighter-z:before, .icon-e-sport-fifa:before, .icon-e-sport-gears-of-war:before, .icon-e-sport-king-of-glory:before, .icon-e-sport-nba2:before, .icon-e-sport-paladins:before, .icon-e-sport-playerunknowns-battlegrounds:before, .icon-e-sport-quake:before, .icon-e-sport-ssbm:before, .icon-e-sport-tekken:before, .icon-e-sport-tf2:before, .icon-e-sport-world-of-warcraft:before {
    content: "\e99d";
}
.icon-canoe-slalom:before {
    content: "\e993";
}
.icon-canoeing:before {
    content: "\e992";
}
.icon-chess:before {
    content: "\e90f";
}
.icon-cricket:before, .icon-gaelic-hurling:before, .icon-gaelic-sports:before, .icon-lacrosse:before {
    content: "\e91d";
}
.icon-curling:before {
    content: "\e90b";
}
.icon-cycling-cycle-ball:before {
    content: "\e997";
}
.icon-darts:before {
    content: "\e9a0";
}
.icon-diving:before {
    content: "\e97d";
}
.icon-drag-racing:before, .icon-modified-racing:before, .icon-off-road:before, .icon-rally:before {
    content: "\e928";
}
.icon-dtm:before {
    content: "\e97e";
}
.icon-equestrian:before, .icon-trotting:before, .icon-horse-racing:before, .icon-horseball:before, .icon-polo:before, .icon-riding:before {
    content: "\e90c";
}
.icon-fencing:before {
    content: "\e98b";
}
.icon-field-hockey:before, .icon-ice-hockey:before, .icon-streethockey:before {
    content: "\e92f";
}
.icon-figure-skating:before, .icon-short-track:before, .icon-speed-skating:before {
    content: "\e983";
}
.icon-finnish-baseball:before {
    content: "\e917";
}
.icon-formula-1:before, .icon-formula-e:before, .icon-indycar:before, .icon-sprint-car-racing:before, .icon-stock-car-racing:before {
    content: "\e927";
}
.icon-golf:before {
    content: "\e912";
}
.icon-greyhound:before {
    content: "\e990";
}
.icon-gymnastics:before {
    content: "\e98c";
}
.icon-judo:before, .icon-kabaddi:before, .icon-taekwondo:before, .icon-wrestling:before {
    content: "\e98a";
}
.icon-luge:before, .icon-skeleton:before {
    content: "\e982";
}
.icon-mma:before {
    content: "\e989";
}
.icon-modern-pentathlon:before, .icon-triathlon:before {
    content: "\e999";
}
.icon-moto-2:before, .icon-superbike:before, .icon-speedway:before, .icon-moto-3:before, .icon-moto-gp:before, .icon-motocross:before, .icon-motorsport:before {
    content: "\e995";
}
.icon-mountain-bike:before {
    content: "\e996";
}
.icon-nascar:before {
    content: "\e99c";
}
.icon-olympics:before, .icon-olympics-youth:before {
    content: "\e987";
}
.icon-padel-tennis:before, .icon-squash:before, .icon-table-tennis:before, .icon-tennis:before {
    content: "\e92c";
}
.icon-rhythmic-gymnastics:before {
    content: "\e98d";
}
.icon-rowing:before {
    content: "\e991";
}
.icon-sailing:before {
    content: "\e90a";
}
.icon-schwingen:before, .icon-sumo:before {
    content: "\e988";
}
.icon-seven-ball-run:before, .icon-snooker:before {
    content: "\e90e";
}
.icon-shooting:before {
    content: "\e984";
}
.icon-ski-jumping:before {
    content: "\e980";
}
.icon-snowboard:before, .icon-snowboardcross-parallel:before {
    content: "\e97f";
}
.icon-specials:before, .icon-freestyle:before {
    content: "\e940";
}
.icon-speed-boat-racing:before {
    content: "\e986";
}
.icon-surfing:before {
    content: "\e910";
}
.icon-trampolining:before {
    content: "\e98e";
}
.icon-truck-and-tractor-pulling:before {
    content: "\e985";
}
.icon-waterpolo:before {
    content: "\e924";
}
.icon-weightlifting:before {
    content: "\e98f";
}
.icon-world-championship:before {
    content: "\e933";
}
.icon-world-lottery:before {
    content: "\e99e";
}