/*------------------------------------*\
    # plugins.kendo-table
\*------------------------------------*/

$table-width: 1024px;

/*table style*/
.k-widget {
    table {
        .k-grid-header {
            background-color: transparent; 

            .k-header {
                &:first-child {
                    /*fixed with "k-hierarchy-cell" selector (official fix)*/
                    /*background-color: transparent !important;*/
                }

                & > .k-link {
                    @mixin type-scale $type-tiny, 0.75;
                    font-weight: $type-weight-bold;
                    letter-spacing: 0.1250em;
                    text-transform: uppercase;
                    color: $color-primary;

                    .k-icon {
                        color: $color-primary;
                    }
                }
            }
        }

        tbody {
            .k-master-row {
                transition: all 250ms ease-out;

                &.k-alt {
                    background-color: transparent;
                }
            }
        }
    }

    /*make all borders in table transparent*/
    &.k-grid {
        border: transparent;
        /*responsive overflow on small screens*/
        overflow-x: auto;

        table,
        .k-pager-wrap {
            min-width: $table-width;
        }
        
        table {
            td {
                @mixin type-scale $type-small, 0.75;
                color: $color-text;
            }
        }

    }

    /*toolbar for batch actions*/
    .k-header.k-grid-toolbar {
        min-width: $table-width;
        background-color: $color-secondary;

        .sticky--left {
            position: sticky;
            left: 8px;
            
            display: inline-block;
        }
        .sticky--right {
            position: sticky;
            right: 8px;
            
            float: right;
        }
    }

    /*padding in table data - table spacing*/
    &.k-grid {
        table td,
        table th {
            padding: calc($unit * 3) calc($unit * 2); 
        }

        table th.k-sorted {
            background-color: white;
        }
    }
}
/*Grid details row action header bug*/
.k-hierarchy-cell {
    background: transparent !important;
}

/*hover state on table row*/
.k-grid tbody tr.k-state-hover,
.k-grid tbody tr:hover,
.k-grid tbody tr.k-alt:hover {
    background-color: transparent;
}

/*cursor pointer on clickable table <td> element*/
.c-poiner {
    cursor: pointer;
}

/*make all pagerlist elements, consistant*/
.k-pager-wrap {
    .k-link {
        width: auto !important;
        min-width: calc(10px + 1.42857em);
        
        &:hover {
            background-color: color($grey-10 a(0.2));
        }

        &:focus {
            span.k-icon {
                color: $grey-4;
            }
        }
    }

    .k-pager-nav {
        border-radius: $radius-full;

        &:hover {
            background-color: color($grey-10 a(0.2));
        }
    }

    /*style for numbers in pagerlist under the table*/
    .k-pager-numbers {
        & .k-state-selected {
            background-color: $grey-10;
            border-radius: $radius-full;
        }

        & .k-link {
            color: $grey-10;
            border-radius: $radius-full;

            &:hover,
            &:focus {
                background-color: color($grey-10 a(0.2));
            }

            &.k-state-selected {
                color: white !important;
            }
        }
    }
    
    /*style for table */
    &.k-grid-pager.k-widget {
        background-color: transparent;
    }

    &.k-grid-pager {
        padding-top: calc($unit * 3);
    }
} 

/*
    firefox targeting 
        -make select component have nice border
*/
@-moz-document url-prefix() {
    .k-pager-wrap.k-grid-pager.k-widget .k-pager-sizes select {
        border: 1px solid color($grey-10 lightness(+35%));
    }
}

/*
    Ms Edge targeting 
        -make select component have nice border
*/
@supports (-ms-ime-align:auto) {
    .k-pager-wrap.k-grid-pager.k-widget .k-pager-sizes select {
        border: 1px solid color($grey-10 lightness(+35%));
    }
}

/*table items per page selector*/
.k-pager-sizes > select {
    display: inline-block;
    height: calc($unit * 4);
    padding: 0 calc($unit * 1);
    
    box-sizing: border-box;
    border-radius: $radius-base;
    
    line-height: calc($unit * 4);
    vertical-align: middle;
    
    background-color: white;
    touch-action: manipulation;
    transition: all 250ms ease-out;

    &:focus {
        outline: 0;
        box-shadow: 0 0 5px 0px $grey-10;
    }
}


/*
    collapsable table style
        -make expanded area different color than other cells
*/
.k-grid .k-master-row + .k-detail-row {
    background-color: $grey-1 !important;
}

/* Table borders*/

.k-grid-header,
.k-grid-header th,
.k-header, 
.k-grid-header-wrap, 
.k-grouping-header, 
.k-grouping-header 
.k-group-indicator, 
.k-grid td, 
.k-grid-footer, 
.k-grid-footer-wrap, 
.k-grid-content-locked, 
.k-grid-footer-locked, 
.k-grid-header-locked, 
.k-filter-row>td, 
.k-filter-row>th {
    border-color: transparent;
    border-bottom: 1px solid $grey-2;
}

col.k-sorted, th.k-sorted {
    background-color: white;
}