/*------------------------------------*\
    # plugins.icomoon
\*------------------------------------*/

@font-face {
  font-family: 'icomoon';
  src: url('~/fonts/icomoon.eot?dgwhti');
  src: url('~/fonts/icomoon.eot?dgwhti#iefix') format('embedded-opentype'),
    url('~/fonts/icomoon.ttf?dgwhti') format('truetype'),
    url('~/fonts/icomoon.woff?dgwhti') format('woff'),
    url('~/fonts/icomoon.svg?dgwhti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon {
  &.hamburger {
    margin: calc($unit * 2);
    float: left;
    font-size: 25px;
    cursor: pointer;
  }

  &.tiny {
    font-size: 14px;
  }

  &.base {
    font-size: calc($unit * 3);
  }

  &.small {
    font-size: calc($unit * 3.8);
  }

  &.medium {
    font-size: calc($unit * 4.5);
  }

  &.large {
    font-size: calc($unit * 6);
  }

  &.notify {
    margin-right: $unit;
    font-size: calc($unit * 3.5);
    vertical-align: middle;
  }

  &.rotate {
    display: inline-block;
    vertical-align: middle;
    margin-right: $unit;
    animation: rotate 2s linear infinite;
  }
}

/*mapping icons */
.icon-check-2-some:before {
  content: '\e97a';
}
.icon-check-2-empty:before {
  content: '\e900';
}
.icon-check-2:before {
  content: '\e901';
}
.icon-touch-password-lock:before {
  content: '\e902';
}
.icon-email-action-lock:before {
  content: '\e903';
}
.icon-check-double:before {
  content: '\e904';
}
.icon-disable:before {
  content: '\e905';
}
.icon-pin:before {
  content: '\e906';
}
.icon-pin-2:before {
  content: '\e907';
}
.icon-pin-2-2:before {
  content: '\e908';
}
.icon-nautic-sports-sailing-person:before {
  content: '\e909';
}
.icon-sea-transport-sailing-boat:before {
  content: '\e90a';
}
.icon-sport-curling:before {
  content: '\e90b';
}
.icon-sport-horse-riding:before {
  content: '\e90c';
}
.icon-swimming-pool-person:before {
  content: '\e90d';
}
.icon-pool-player:before {
  content: '\e90e';
}
.icon-chess-figures:before {
  content: '\e90f';
}
.icon-nautic-sports-surfing-water:before {
  content: '\e910';
}
.icon-golf-hole-1:before {
  content: '\e911';
}
.icon-golf-player:before {
  content: '\e912';
}
.icon-athletics-jumping-person:before {
  content: '\e913';
}
.icon-athletics-javelin-throwing:before {
  content: '\e914';
}
.icon-athletics-pole-vault:before {
  content: '\e915';
}
.icon-baseball-bat-ball:before {
  content: '\e916';
}
.icon-baseball-player:before {
  content: '\e917';
}
.icon-boxing-boxer:before {
  content: '\e918';
}
.icon-boxing-glove:before {
  content: '\e919';
}
.icon-bowling-set:before {
  content: '\e91a';
}
.icon-skiing-cross-country:before {
  content: '\e91b';
}
.icon-skiing-slide-down:before {
  content: '\e91c';
}
.icon-cricket-bat-ball:before {
  content: '\e91d';
}
.icon-badminton-shuttlecock-racquet:before {
  content: '\e91e';
}
.icon-badminton-shuttlecock:before {
  content: '\e91f';
}
.icon-badminton-player:before {
  content: '\e920';
}
.icon-volleyball-ball:before {
  content: '\e921';
}
.icon-volleyball-smash:before {
  content: '\e922';
}
.icon-bicycle-sports:before {
  content: '\e923';
}
.icon-swimming-waterpolo:before {
  content: '\e924';
}
.icon-american-football-run-ball:before {
  content: '\e925';
}
.icon-american-football-ball-1:before {
  content: '\e926';
}
.icon-sports-car-convertible:before {
  content: '\e927';
}
.icon-car-tool-steering-wheel:before {
  content: '\e928';
}
.icon-basketball-hoop:before {
  content: '\e929';
}
.icon-basketball-ball-dribble-player:before {
  content: '\e92a';
}
.icon-basketball-ball:before {
  content: '\e92b';
}
.icon-tennis-racquet:before {
  content: '\e92c';
}
.icon-tennis-player:before {
  content: '\e92d';
}
.icon-hockey-puck-stick:before {
  content: '\e92e';
}
.icon-sport-hockey:before {
  content: '\e92f';
}
.icon-soccer-player-kick:before {
  content: '\e930';
}
.icon-soccer-ball:before {
  content: '\e931';
}
.icon-soccer-field:before {
  content: '\e932';
}
.icon-award-trophy-star-1:before {
  content: '\e933';
}
.icon-multiple-users-1:before {
  content: '\e934';
}
.icon-multiple-users-2:before {
  content: '\e935';
}
.icon-task-list-to-do:before {
  content: '\e936';
}
.icon-tags-double:before {
  content: '\e937';
}
.icon-official-building-3:before {
  content: '\e938';
}
.icon-accounting-invoice-hand:before {
  content: '\e939';
}
.icon-style-two-pin-information:before {
  content: '\e93a';
}
.icon-key-lock-1:before {
  content: '\e93b';
}
.icon-cog:before {
  content: '\e93c';
}
.icon-cog-double-2:before {
  content: '\e93d';
}
.icon-messages-bubble-square-menu:before {
  content: '\e93e';
}
.icon-cash-payment-bills:before {
  content: '\e93f';
}
.icon-browser-page-account:before {
  content: '\e940';
}
.icon-tags-settings:before {
  content: '\e941';
}
.icon-ticket-basketball-game:before {
  content: '\e942';
}
.icon-style-two-pin-user:before {
  content: '\e943';
}
.icon-common-file-text:before {
  content: '\e944';
}
.icon-translate:before {
  content: '\e945';
}
.icon-arrow-down-1:before {
  content: '\e946';
}
.icon-arrow-left-1:before {
  content: '\e947';
}
.icon-arrow-right-1:before {
  content: '\e948';
}
.icon-arrow-up-1:before {
  content: '\e949';
}
.icon-people-man-1:before {
  content: '\e94a';
}
.icon-people-man-beard-1:before {
  content: '\e94b';
}
.icon-building-1:before {
  content: '\e94c';
}
.icon-building-modern:before {
  content: '\e94d';
}
.icon-email-action-unread:before {
  content: '\e94e';
}
.icon-messages-bubble-typing-1:before {
  content: '\e94f';
}
.icon-download-arrow-1:before {
  content: '\e950';
}
.icon-download-bottom:before {
  content: '\e951';
}
.icon-upload-bottom:before {
  content: '\e952';
}
.icon-upload-thick-box:before {
  content: '\e953';
}
.icon-print-text:before {
  content: '\e954';
}
.icon-search:before {
  content: '\e955';
}
.icon-filter-1:before {
  content: '\e956';
}
.icon-pencil-write:before {
  content: '\e957';
}
.icon-stopwatch:before {
  content: '\e958';
}
.icon-time-clock-circle:before {
  content: '\e959';
}
.icon-add:before {
  content: '\e95a';
}
.icon-login-1:before {
  content: '\e95b';
}
.icon-login-3:before {
  content: '\e95c';
}
.icon-login-key:before {
  content: '\e95d';
}
.icon-logout-1:before {
  content: '\e95e';
}
.icon-remove:before {
  content: '\e95f';
}
.icon-lock-unlock-1:before {
  content: '\e960';
}
.icon-navigation-down-circle:before {
  content: '\e961';
}
.icon-navigation-left-circle-1:before {
  content: '\e962';
}
.icon-navigation-right-circle-1:before {
  content: '\e963';
}
.icon-navigation-up-circle:before {
  content: '\e964';
}
.icon-lock-1:before {
  content: '\e965';
}
.icon-house-1:before {
  content: '\e966';
}
.icon-tags:before {
  content: '\e967';
}
.icon-alarm-bell:before {
  content: '\e968';
}
.icon-attachment:before {
  content: '\e969';
}
.icon-hyperlink:before {
  content: '\e96a';
}
.icon-hyperlink-3:before {
  content: '\e96b';
}
.icon-synchronize-arrows-1:before {
  content: '\e96c';
}
.icon-alarm-bell-ring:before {
  content: '\e96d';
}
.icon-calendar-date:before {
  content: '\e96e';
}
.icon-bin:before {
  content: '\e96f';
}
.icon-hierarchy-4:before {
  content: '\e970';
}
.icon-hierarchy-6:before {
  content: '\e971';
}
.icon-settings-slider:before {
  content: '\e972';
}
.icon-delete-1:before {
  content: '\e973';
}
.icon-power-button:before {
  content: '\e974';
}
.icon-pie-line-graph:before {
  content: '\e975';
}
.icon-pie-line-graph-desktop:before {
  content: '\e976';
}
.icon-graph-stats-ascend:before {
  content: '\e977';
}
.icon-alert-circle:before {
  content: '\e978';
}
.icon-question-circle:before {
  content: '\e979';
}
