/*------------------------------------*\
    # plugins.kendo-table
\*------------------------------------*/

$table-width: 1024px;

/*table style*/
.k-widget {
    border-style: none;
}

.k-pager-wrap {
    background-color: $white;
}

.k-chart {
    @media (--screen-to-sml) {
        display: none;
    }
}