/*------------------------------------*\
    # plugin.k-upload
\*------------------------------------*/

.k-upload {
    width: 100%;
    height: 150px;
    margin: 0;

    background-color: #ffffff;

    border: 1px dashed #348cfc;
    border-radius: $radius-base;

    .k-dropzone {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        text-align: center;
    }

    .k-upload-button {
        position: relative;
        display: inline-block;

        height: calc($unit * 5);
        padding: 0 calc($unit * 1.5);
        padding-left: calc($unit * 5.5);
        margin: 0;
        margin-bottom: calc($unit);
        background-color: #ffffff;
        background-image: none;

        color: $color-primary;
        
        border: 1px solid $color-primary;
        border-radius: $radius-base;

        span {
            height: calc($unit * 4);
            line-height: calc($unit * 4);
        }

        &:focus, &.k-state-focused {
            box-shadow: none;
        }

        &:before {
            content:'';

            display: block;
            position: absolute;
            top: 50%;
            left: calc($unit * 1.5);
            transform: translateY(-50%);

            width: calc($unit * 3);
            height: calc($unit * 3);
            background-size: calc($unit * 3);
            background-image: svg-load('../styles/postcss-svg/add-image.svg', fill: $color-primary);
            background-repeat: no-repeat;
            background-position: center center;
            color: transparent;
        
            vertical-align: middle;
            opacity: 1;
        }
    }

    .k-dropzone-hint {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        margin-left: 0 !important;
        flex: none !important;

        @mixin type-scale $type-xsmall, 1;
        color: $color-primary;
        font-style: normal;
    }

    .k-upload-status {
        display: none !important;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: calc($unit * 3);
        margin-top: calc($unit * 3);

        &__item {
            position: relative;
            flex: 0 1 calc(50% - 12px);
            margin-top: calc($unit * 2);

            @media (--screen-from-med) {
                flex: 0 1 30%;
            }

            &__label {
                margin-top: calc($unit * 1);
                @mixin type-scale $type-xsmall, 0.75;
                text-align: center;
            }

            &__close {
                position: absolute;
                top: -9px;
                right: -15px;

                display: flex !important;
                justify-content: center;
                align-items: center;
                width: calc($unit * 4);
                height: calc($unit * 4) !important;

                border: 1px solid $color-text;
                border-radius: $radius-full;
                background-color: $white;

                @media (--screen-from-med) {
                    width: calc($unit * 3);
                    height: calc($unit * 3) !important;
                }

                &:hover {
                    border: 1px solid $color-primary;

                    .u-icon {
                        background-image: svg-load('../styles/postcss-svg/close.svg', fill: $color-primary);
                    }
                }

                .u-icon {
                    width: 12px;
                    height: 12px;
                    margin-bottom: 0;

                    transition: all 250ms ease-in-out;

                    background-image: svg-load('../styles/postcss-svg/close.svg', fill: $color-text);
                    background-size: 12px;

                    @media (--screen-from-med) {
                        width: 8px;
                        height: 8px;
                        background-size: 8px;
                    }
                }
            }
        }
    }

    &__item {
        &--remove {
            position: absolute;
            top: $unit;
            right: $unit;

            width: calc($unit * 3.5);
            height: calc($unit * 3.5);
            padding: 0;

            background-color: #ffffff;
            border: 1px solid $grey-2;
            border-radius: $radius-full;

            .u-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &--ticket {
                top: -6px;
            }
        }
    }
}

.k-listview {
    margin-top: calc($unit * 2);
    border: 0;

    .k-listview-item {
        padding: calc($unit * 2);
        margin-bottom: calc($unit * 1.5);
        border-radius: $radius-base;
        background-color: #f7f7f7;
    }
}