/*------------------------------------*\
    # plugins.modal
\*------------------------------------*/


/*override of react modal window*/
.ReactModal {
    &__Content {
        opacity: 0;

        @media (--screen-to-lrg) {
            width: 90%;
        }

        &--after-open {
            opacity: 1;
            transition: all 250ms ease-in-out;

        }   

        &--before-close {
            opacity: 0;
        }
    }
}