/*------------------------------------*\
    # plugins.kendo-inputs
\*------------------------------------*/

.k-textbox-container.k-state-empty > .k-label {
	top: 50%;
	left: calc($unit * 2.6);

	@mixin type-scale $type-base, 1;
	@media (--screen-to-med) {
		left: calc($unit * 4);

		@mixin type-scale $type-small, 1;
	}
}

.k-textbox-container {
	padding: 0;
	/* margin-top: calc($unit * 2.5); */
}

.k-textbox-container.k-state-empty {
	padding: 0;
}

.k-multiselect-wrap.k-floatwrap {
	display: flex;
	align-items: center;

	height: calc($unit * 10);

	@media (--screen-to-med) {
		height: calc($unit * 8);
		line-height: calc($unit * 8);
		padding: 0 calc($unit * 4);
		padding-left: calc($unit * 2);
		@mixin type-scale $type-small, 1;
	}
}

.k-widget.k-multiselect.k-header.k-textbox-container.k-dropdown.input--multiselect {
	padding-top: 0;
}

.k-dropdown .k-dropdown-wrap {
	margin-top: 0;
	
	&.k-state-focused {
		border-radius: $radius-base !important;
	}
}

.k-list .k-item {
	min-height: calc($unit * 7);
	color: $color-text;
	background-color: $color-background;

	&:hover {
		background-color: color($bali-hai a(40%));
	}

	&.k-state-selected {
		background-color: $bali-hai !important;
	}
}

.k-numerictextbox .k-numeric-wrap {
	border-width: 0;
}

.react-select__control {
	min-height: 60px !important;

	&:hover,
	&:focus,
	&--is-focused {
		border-color: $color-primary !important;
		box-shadow: 0 0 0 1px $color-primary !important;
	}
}

.react-select__single-value {
	color: $color-text !important;
}
