/*------------------------------------*\
    # plugins.toastify
\*------------------------------------*/

/*
    override colors on toast messageses
        -default colors sucks
*/
.green-background {
    background-color: $color-success;
    color: white;
}

.red-background {
    background-color: $color-warning;
    color: white;
}

.orange-background {
    background-color: $color-note;
    color: white;
}

/*
    override progress bar color
*/
.fancy-progress-bar {
    background: rgba(255,255,255,0.5);
}

.Toastify__close-button--default {
    color: white;
    opacity: 1;
}

.Toastify__toast {
    @mixin type-scale $type-small, 1;
}