/*------------------------------------*\
    # plugins.kendo-table
\*------------------------------------*/

$table-width: 1024px;

/*table style*/
.k-widget {
    border-style: none;
}

.k-pager-wrap {
    background-color: $white;
}

.k-chart {
    /* @media (--screen-to-sml) {
        display: none;
    } */
}

.k-master-row {
    td {
        span {
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            /* autoprefixer: off */
        }
    }
}

.table {
    &--tertiary {
        .k-detail-row {
            .k-hierarchy-cell,
            .k-detail-cell {
                background-color: $bianca;
            }

            .k-detail-cell {
                padding: calc($unit * 2);

                tr,
                th,
                td {
                    background-color: transparent !important;
                }

                th {
                    color: $bali-hai;
                    @mixin type-scale $type-xsmall, 1;
                    font-weight: $type-weight-bold;

                    border-bottom: 1px solid color($color-background blackness(+15%));
                }

                td {
                    border-bottom: 1px solid color($color-background blackness(+10%));
                }
            }
        }
    }
}

.table {

    &--payment {
        display:flex;
        flex-wrap: wrap;
        margin-bottom: calc($unit * 2);

        &__cell {
            width: 25%;
            border: 1px solid $color-background;
            background-color: white;
            height: calc($unit * 8);
            padding: 0 calc($unit * 2);
            text-align: center;

            @media (--screen-from-lrg) {

            }

            &.is-header {
                background-color: transparent;

                @media (--screen-to-xlrg) {
                    display: none !important;
                }
            }

            &.is-first {
                border-radius: $radius-base 0 0 $radius-base;
                width: 100%;
                padding: 0;

                @media (--screen-from-xlrg) {
                    width: 30%;
                }

                @media (--screen-from-xxxlrg) {
                    width: 20%;
                }
            }

            &.is-last {
                border-radius: 0 $radius-base $radius-base 0;
                width: 50%;

                @media (--screen-from-lrg) {
                    width: 25%;
                }

                @media (--screen-from-xlrg) {
                    width: 20%;
                }

                @media (--screen-from-xxxlrg) {
                    width: 20%;
                }
            }

            &.is-timeline {
               width: 50%;

               @media (--screen-from-lrg) {
                    width: 25%;
                }

                @media (--screen-from-xlrg) {
                    display: flex;
                    width: 15%;
                }

                @media (--screen-from-xxxlrg) {
                    width: 20%;
                }
            }

            &.is-deductible {
                display: none;

                @media (--screen-from-lrg) {
                    display: flex;
                    width: 25%;
                }

                @media (--screen-from-xlrg) {
                    display: flex;
                    width: 15%;
                }

                @media (--screen-from-xxxlrg) {
                    width: 20%;
                }
            }

            &.is-minimum {
                display: none;

                @media (--screen-from-lrg) {
                    display: flex;
                    width: 25%;
                }

                @media (--screen-from-xlrg) {
                    display: flex;
                    width: 20%;
                }

                @media (--screen-from-xxxlrg) {
                    width: 20%;
                }
            }
        }

        &__inner {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            height: calc($unit * 8);

            * {
                line-height: 1;
            }
        }
    } 
}


