/*------------------------------------*\
    # tools.ricky
\*------------------------------------*/

/**
 * Custom grid based on flexbox.
 * $f-grid-gutter - amount of space between columns
 * $f-grid-columns - number of columns of the grid
 */

$f-grid-gutter: 20px;
$f-grid-columns: 12;

/**
 * The flex-col mixin is used for building flexbox grid columns
 */
@define-mixin f-col $flex-span: 1, $context: $f-grid-columns {
    width: calc($(flex-span) / $(context) * 100%);
}

/**
 * The flex-col mixin is used for building flexbox grid columns
 */
@define-mixin offset $flex-span: 1, $context: $f-grid-columns {
    margin-left: calc($(flex-span) / $(context) * 100%);
}

/**
 * Row
 */
.f-row {
    margin-left: calc(-$f-grid-gutter / 2);
    margin-right: calc(-$f-grid-gutter / 2);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

/**
 * Column
 */
.f-col {
    padding-left: calc($f-grid-gutter / 2);
    padding-right: calc($f-grid-gutter / 2);
    transition: all 250ms ease-out;
}
