/*------------------------------------*\
    # tools.animation
\*------------------------------------*/

.rotate {
	display: inline-block;
	vertical-align: middle;
	margin-right: calc($unit * 2);
	animation: rotate 2s linear infinite;
}
/*
    animation for loading state on buttons
*/
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
