/*------------------------------------*\
    # tools.clearing
\*------------------------------------*/

@define-mixin clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        
        font-size: 0;
        visibility: hidden;
    }
}

.clearfix {
    /*define clearfix like this wherever you need */
    @mixin clearfix;
}