/*------------------------------------*\
    # utils.gap
\*------------------------------------*/

.gap {
	&--1 {
		gap: calc($unit * 1);
	}

	&--2 {
		gap: calc($unit * 2);
	}

	&--3 {
		gap: calc($unit * 3);
	}

	&--4 {
		gap: calc($unit * 4);
	}

	&--5 {
		gap: calc($unit * 5);
	}
}
