/*------------------------------------*\
    # utils.scrollbar
\*------------------------------------*/

/*
    Scroll bar style
        -Working only on chrome    
        -all except textarea because of chrome know issue with scrollbar cursors
*/
*:not(textarea)::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100px;
}

*:not(textarea)::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

*:not(textarea)::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
}
*:not(textarea)::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.61);
    /* Some darker color when you click it */
    border-radius: 100px;
}

/* add vertical min-height & horizontal min-width */
*:not(textarea)::-webkit-scrollbar-thumb:vertical {
    min-height: 10px;
}
*:not(textarea)::-webkit-scrollbar-thumb:horizontal {
    min-width: 10px;
}
