/*------------------------------------*\
    # utils.order
\*------------------------------------*/

.u-order {
	&--1 {
		@media (--screen-to-sml) {
			order: 1;
		}
		
		&--xxxlrg {
			@media (--screen-to-xxlrg) {
				order: 1;
			}
		}

		&--from {
			&--lrg {
				@media (--screen-from-lrg) {
					order: 1;
				}
			}
			
			&--xlrg {
				@media (--screen-from-xlrg) {
					order: 1;
				}
			}
		}
	}
	
	&--2 {
		@media (--screen-to-sml) {
			order: 2;
		}
		
		&--xxxlrg {
			@media (--screen-to-xxlrg) {
				order: 2;
			}
		}
		
		&--from {
			&--lrg {
				@media (--screen-from-lrg) {
					order: 2;
				}
			}
		}
	}

	&--3 {
		@media (--screen-to-sml) {
			order: 3;
		}

		&--xxxlrg {
			@media (--screen-to-xxlrg) {
				order: 3;
			}
		}
	}

	&--4 {
		@media (--screen-to-sml) {
			order: 4;
		}

		&--xxxlrg {
			@media (--screen-to-xxlrg) {
				order: 4;
			}
		}
	}

	&--5 {
		@media (--screen-to-sml) {
			order: 5;
		}

		&--xxxlrg {
			@media (--screen-to-xxlrg) {
				order: 5;
			}
		}
	}
}
