/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.display {

	&--b {
		display: block;

        /*Responsive display util for showing block element*/
        &--from {
            &--sml {
                @media (--screen-from-sml) {
                    display: block;
                }
            }
        }

        &--to{
            &--sml{
                @media (--screen-to-sml){
                    display: block;
                }
            }
        }
	}

	&--ib {
		display: inline-block;

        /*Responsive display util for showing inline element*/
        &--from {
            &--sml {
                @media (--screen-from-sml) {
                    display: inline-block;
                }
            }
        }

        &--to{
            &--sml{
                @media (--screen-to-sml){
                    display: inline-block;
                }
            }
        }
	}

	&--none {
		display: none;

        /*Responsive display util for hiding element (remove from UI "display: none;")*/
        &--from {
            &--sml {
                @media (--screen-from-sml) {
                    display: none;
                }
            }
        }

        &--to{
            &--sml {
                @media (--screen-to-sml) {
                    display: none;
                }
            }
        }
	}
}