/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w {
    &--40 {
        &--vw {
            &--min {
                min-width: 40vw;
            }
        }
    }
    &--80 {
        width: 80%;
    }

    &--100 {
        width: 100%;

        &--px {
            width: 100px;
        }

        &--from {
            &-med {
                @media (--screen-from-med) {
                    width: 100%;
                }
            }
        }

        &--to {
            &-lrg {
                @media (--screen-to-lrg) {
                    width: 100%;
                }
            }
        }

        &--min {
            min-width: 100px;
        }
    }
    
    &--160 {
        &--px {
            width: 160px;
        }
    }
    &--200 {
        &--px {
            width: 200px;
        }
    }
    &--250 {
        &--px {
            width: 250px;
        }
    }

    &--400 {
        &--px {
            width: 400px;
        }
    }

    &--500 {
        &--px {
            /*kendo override must have important to work*/
            width: 500px !important;
        }

        &--max {
            max-width: 500px;
        }
    }

    &--760 {
        &--max {
            max-width: 760px;
        }
    }

    &--1024 {
        &--max {
            max-width: 1024px;
        }
    }
}