/*------------------------------------*\
    # util.spacers
\*------------------------------------*/

/*custom multiplyer*/
$custom: 15;

.padd {
    /* PADDING TOP */
    &--top {
        &--xtny {
            padding-top: calc($unit / 2);
        }

        &--tny {
            padding-top: $unit;
        }

        &--xsml {
            padding-top: calc($unit * 1.5);
        }

        &--sml {
            padding-top: calc($unit * 2);
        }

        &--med {
            padding-top: calc($unit * 4);
        }

        &--lrg {
            padding-top: calc($unit * 6);
        }
    }

    /* PADDING RIGHT */
    &--right {
        &--tny {
            padding-right: $unit;
        }

        &--xsml {
            padding-right: calc($unit * 1.5);
        }

        &--sml {
            padding-right: calc($unit * 2);
        }

        &--med {
            padding-right: calc($unit * 4);
        }

        &--lrg {
            padding-right: calc($unit * 6);
        }
    }

    /* PADDING BOTTOM */
    &--bottom {
        &--tny {
            padding-bottom: $unit;
        }

        &--xsml {
            padding-bottom: calc($unit * 1.5);
        }

        &--sml {
            padding-bottom: calc($unit * 2);
        }

        &--med {
            padding-bottom: calc($unit * 4);
        }

        &--lrg {
            padding-bottom: calc($unit * 6);
        }
    }

    /* PADDING LEFT */
    &--left {
        &--tny {
            padding-left: $unit;
        }

        &--xsml {
            padding-left: calc($unit * 1.5);
        }

        &--sml {
            padding-left: calc($unit * 2);
        }

        &--med {
            padding-left: calc($unit * 4);
        }

        &--lrg {
            padding-left: calc($unit * 6);
        }
    }

    /*You can use spacers by axis*/
    /* 
       ---------------------------------
       --   x-axis ->  left & right   --
       --   y-axis ->  top & bottom   --  
       ---------------------------------
    */
    &--x {
        &--sml{
            padding-left: calc($unit * 2);
            padding-right: calc($unit * 2);
        }
    }

    &--y{
        &--sml {
            padding-top: calc($unit * 2);
            padding-bottom: calc($unit * 2);
        }
    }
    
    /*
        padding all around element
    */
    &--sml {
        padding: calc($unit * 2);
    }
}
