/*------------------------------------*\
    # utils.height
\*------------------------------------*/

.h {
    &--36 {
        height: calc($unit * 6);
    }

    &--95 {
        height: 95%;
    }
}

.fullheight {
    height: 100%;
}