/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.u {
	&-display {
		&--i {
			display: inline;
		}

		&--b {
			display: block;
		}

		&--ib {
			display: inline-block;
		}

		&--flex {
			display: flex;

			&--align {
				
				&--center {
					align-items: center;
				}
			}

			&--justify {
				
				&--center {
					jusitfy-content: center;
				}

				&--space-around {
					justify-content: space-around;
				}
			}
		}

		&--none {
			display: none;
		}
	}
}