/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w {
    &--50 {
        width: 50%;

        &--px {
            width: 50px;
        }
    }

    &--100 {
        width: 100%;

        &--px {
            width: 100px;
        }

        &--from {
            &-med {
                @media (--screen-from-med) {
                    width: 100%;
                }
            }
        }

        &--to {
            &-lrg {
                @media (--screen-to-lrg) {
                    width: 100%;
                }
            }
        }
    }

}