/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.u {
	&-display {
		&--i {
			display: inline;
		}

		&--b {
			display: block;
		}

		&--ib {
			display: inline-block;
		}

		&--flex {
			display: flex;

			&--column {
				flex-direction: column;
			}

			&--align {
				
				&--center {
					align-items: center;
				}

				&--end {
					align-items: flex-end;
				}
			}

			&--justify {
				
				&--center {
					justify-content: center;
				}

				&--space-around {
					justify-content: space-around;
				}
				
				&--space-beetween  {
					justify-content: space-beetween;
				}

				&--flex-end {
					justify-content: flex-end;
				}
			}

			&--wrap {
				flex-wrap: wrap;
			}
		}

		&--none {
			display: none;
		}
	}
}