/*------------------------------------*\
    # utils.align
\*------------------------------------*/

.align {
  /* Horizontal align */
  &--h {
    &--center {
      margin-left: auto;
      margin-right: auto;
    }

    &--left {
      margin-right: auto;
    }

    &--right {
      margin-left: auto;
    }
  }

  /* Vertical align */
  &--v {
    &--top {
      vertical-align: top;
    }

    &--middle {
      vertical-align: middle;
    }

    &--sub {
      vertical-align: sub;
    }

    &--bottom {
      vertical-align: bottom;
    }

    &--baseline {
      vertical-align: baseline;
    }

    &--text-top {
      vertical-align: text-top;
    }

    &--neg {
      &--3 {
        vertical-align: calc(-$unit / 3);
      }
    }
  }
}
