/*------------------------------------*\
    # utils.floats
\*------------------------------------*/

.pull {
	float: left;

	&--to {
		&--sml {
			@media (--screen-to-sml) {
		    	float: left;
			}	
		}
	}

    &--from {
        &--tny {
            @media (--screen-from-sml) {
                float: left;
            }
        }
    }
}

.push {
	float: right;

    &--to {
		&--sml {
			@media (--screen-to-sml) {
		    	float: right;
			}	
		}
	}

    &--from {
        &--med {
            @media (--screen-from-med) {
                float: left;
            }
        }
    }
}