/*------------------------------------*\
    # utils.positions
\*------------------------------------*/

.pos {
	&--rel {
		position: relative;
	}

	&--fix {
		position: fixed;
	}
	
	&--abs {
		position: absolute;
	}
}