/*------------------------------------*\
    # utils.display
\*------------------------------------*/

.u {
	&-display {
		&--i {
			display: inline;
		}

		&--b {
			display: block;
		}

		&--ib {
			display: inline-block;
		}

		&--flex {
			display: flex;

			&--column {
				flex-direction: column;
			}

			&--align {
				
				&--center {
					align-items: center;
				}

				&--end {
					align-items: flex-end;
				}
			}

			&--justify {
				
				&--center {
					justify-content: center;
				}

				&--space-around {
					justify-content: space-around;
				}
				
				&--space-between  {
					justify-content: space-between;
				}

				&--flex-end {
					justify-content: flex-end;
				}
			}

			&--end {
				justify-content: flex-end;
				align-items: flex-end;
			}

			&--wrap {
				flex-wrap: wrap;
			}
		}

		&--none {
			display: none;

			&--med {
				@media (--screen-to-med) {
					display: none;
				}
			}

			&--xlrg {
				@media (--screen-to-xlrg) {
					display: none;
				}
			}
		}
	}
}