/*------------------------------------*\
    # vars.globals
\*------------------------------------*/

/**
 * The $unit variable is a global variable to be used
 * in paddings, margins, for sizing and positioning
 */
$unit: 6px;

/**
 * Global radius and rounded
 */
$radius-full: 1000px;
$radius-base: 6px;

/* Global heights and widths */
$header-height: 50px;
$aside-width: 50px;
$form-width-med: 1024px;
$form-width-sml: 544px;