/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
 * Project base line height (unitless in order to work with typomatic)
 */
$base-line-height: 22;
$base-font-size:   16;

/**
* Type scale sizes must be entered in their pixel size
* (unitless in order to work with typomatic)
* Default type scale ratio: 1.333;
*/
$type-tiny:     11;
$type-xsmall:   12;
$type-small:    14;
$type-base:     $base-font-size;
$type-medium:   22;
$type-large:    23;
$type-xlarge:   28;
$type-xxlarge:  33;
$type-xxxlarge: 40;
$type-huge:     60;

/**
* Type weights
*/
$type-weight-thin:       100;
$type-weight-light:      300;
$type-weight-regular:    400;
$type-weight-medium:  	 500;
$type-weight-semi-bold:  600;
$type-weight-bold:       700;
$type-weight-extra-bold: 800;

/**
* Font stacks
*/
$ff-sans: 	'Inter', -apple-system, BlinkMacSystemFont, 
			"Segoe UI", "Roboto", "Oxygen", 
			"Ubuntu", "Cantarell", "Fira Sans", 
			"Droid Sans", "Helvetica Neue", 
			sans-serif, Helvetica, Arial, sans-serif;
$ff-serif:	Georgia, Times, serif;
