/*------------------------------------*\
    # vars.globals
\*------------------------------------*/

/**
 * The $unit variable is a global variable to be used
 * in paddings, margins, for sizing and positioning
 */
$unit: 6px;

/**
 * Global radius and rounded
 */
$radius-full: 1000px;
$radius-base: 3px;
$radius-med: 6px;
